<div class="footer-container clearfix">
  <div class="clearfix">
    <div class="company-informations col-sm-10 pull-left">
      <div class="footer-logo-wrapper">
        <a href="http://ciceron.me"><img class="footer-logo" src="/img/ciceron_gray.png" alt="footer logo" /></a>
      </div>
      <div class="translate-page">
        <i class="fa fa-globe"></i>Translate this page into
        <select class="select">
          <option>Korean</option>
          <option>Chinese</option>
          <option>UK</option>
          <option>Japanese</option>
        </select>
      </div>
      <div class="company-information">대표 : 윤영선</div>
      <div class="company-information">사업자 등록번호 : 000-00-00000</div>
      <div class="company-information">통신판매업신고번호 : 0000-충남당진-00000</div>
    </div>
    <div class="company-terms company-other-informations col-sm-10 pull-left">
      <div class="company-term"><a>회사소개</a></div>
      <div class="company-term"><a>개인정보취급방침</a></div>
      <div class="company-term"><a>사용자약관</a></div>
    </div>
    <div class="company-links company-other-informations col-sm-10 pull-left">
      <div class="company-link"><a>About</a></div>
      <div class="company-link"><a>Process</a></div>
      <div class="company-link"><a>Freture</a></div>
      <div class="company-link"><a>Apply</a></div>
      <div class="company-link"><a>Partners</a></div>
    </div>
    <div class="company-contacts company-other-informations col-sm-10 pull-left">
      <div class="company-contact-title"><a>Contact</a></div>
      <div class="company-contact-request"><a>B2B 문의처</a></div>
      <div class="company-contact-request space-bottom"><a href="mailto:cingoo@ciceron.me">chingoo@ciceron.me</a></div>
      <div class="company-contact">주식회사 씨세론</div>
      <div class="company-contact">서울시 중구 청계천로 40</div>
      <div class="company-contact">문화창조벤처단지 1508호</div>
    </div>
  </div>
  <hr class="footer-separator" />
  <div class="footer-copyright">
    <div class="copyright text-center">
      Copyright © 2015 CICEÉRON, inc<br>
      All rights reserved
    </div>
  </div>
</div>

