<div id="header-container">
  <a class="header-home-link" href="/stoa">
    <img class="header-logo" src="/img/ciceron_gray.png" alt="ceciron logo" />
  </a>
  <img class="img-circle pull-right" id="img-header" src="" />
  <ul class="list-layout list-menu header-list-menu clearfix none-sm">
    <li class=""><a class="" href="/stoa" i18n="STOA"></a></li>
    <li class=""><a class="" href="/cart" <% if (false) { %>i18n="CART"<% } %>>장바구니</a></li>
    <li class=""><a class="" href="/condition" <% if (false) { %>i18n="CONDITION"<% } %>>작업중인 번역</a></li>
    <li class=""><a class="" href="/list" <% if (false) { %>i18n="LIST"<% } %>>작업내역</a></li>
    <li class=""><a class="" href="/profile" <% if (false) { %>i18n="PROFILE"<% } %>>프로필</a></li>
  </ul>
  <div id="header-profile" class="invisible">
    <div id="header-profile-container">
      <img class="img-circle" id="img-profile" class="" src="" />
      <div id="header-profile-name">asdfasdf</div>
      <hr />
      <span class="none-lg">
        <a class="header-profile-button" href="/stoa" i18n="STOA"></a>
        <a class="header-profile-button" href="/cart" <% if (false) { %>i18n="CART"<% } %>>장바구니</a>
        <a class="header-profile-button" href="/condition" <% if (false) { %>i18n="CONDITION"<% } %>>작업중인 번역</a>
        <a class="header-profile-button" href="/list" <% if (false) { %>i18n="LIST"<% } %>>작업내역</a>
        <a class="header-profile-button" href="/profile" <% if (false) { %>i18n="PROFILE"<% } %>>프로필</a>
        <br />
      </span>
      <a href="/notification" class="header-profile-button" i18n="notification"></a>
      <a href="/mypage" class="header-profile-button" i18n="mypage"></a>
      <br />
      <a href="#" class="header-profile-button" id="btn-logout" i18n="logout"></a>
    </div>
  </div>
</div>

