/***** Global Variables & Mixins *****/
$main-color: #02c1cf;
$sub-color: #08c1ce;
$blue-color: #0079db;
$blue-hover-color: #0068CA;
$red-color: #fe9797;
$list-height: 30px;
$profile-image-border-color: #ccc;
$ticket-header-height: 38px;
$footer-background-color: #f5f4f3;
$ticket-background-color: #f7f7f7;
$ticket-background-darker-color: #f4f4f4;
$ticket-background-lighter-color: #fafafa;
$translate-button-color: #23c1cd;
$translate-button-hover-color: #23c1cd;
$cart-button-color: #6ea9d7;
$cart-button-hover-color: #6ea9d7;

@mixin transition-duration($duration) {
  -o-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

@mixin img-circle {
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@mixin border-radius($rad-value) {
  -o-border-radius: $rad-value;
  -ms-border-radius: $rad-value;
  -moz-border-radius: $rad-value;
  -khtml-border-radius: $rad-value;
  -webkit-border-radius: $rad-value;
  border-radius: $rad-value;
}

@mixin appearance($apperance) {
  -o-appearance: $apperance;
  -ms-progress-appearance: $apperance;
  -moz-appearance: $apperance;
  -khtml-appearance: $apperance;
  -webkit-appearance: $apperance;
  appearance: $apperance;
}

@mixin transform-scale($value1, $value2) {
  -ms-transform: scale($value1, $value2);
  -webkit-transform: scale($value1, $value2);
  transform: scale($value1, $value2);
}

@mixin transform-translate($value1, $value2) {
  -ms-transform: translate($value1, $value2);
  -webkit-transform: translate($value1, $value2);
  transform: translate($value1, $value2);
}

@mixin transform-origin($value) {
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  transform-origin: $value;
}

@mixin transparent {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@mixin transparent-important {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
}

@mixin dim {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}

@mixin not-opacity {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: .99;
}
/***** Global Variables & Mixins *****/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

*, *:before, *:after {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: inherit !important;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html body {
  position: relative;
  background-color: transparent;
  font-family: "Dosis", "Noto Sans KR", sans-serif;
  font-size: 62.5% !important;
  *, input {
    font-family: "Dosis", "Noto Sans KR", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input[type="checkbox"], input[type="radio"], input[type="search"], input[type="range"] {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="range"] {
  @include appearance(none);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  background: #797979;
  border-radius: 22px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  @include border-radius(50%);
  background: $sub-color;
  cursor: pointer;
  @include appearance(none);
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #797979;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  background: #797979;
  border-radius: 22px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  @include border-radius(50%);
  background: $sub-color;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: .2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #797979;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #797979;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  @include border-radius(50%);
  background: $sub-color;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #797979;
}

input[type=range]:focus::-ms-fill-upper {
  background: #797979;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  @include appearance(button);
  cursor: pointer;
}

a {
  text-decoration: blink;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: blink;
  }
}

label, span, i.fa {
  font-size: 16px;
}

ul.list-layout {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
  }
}

ul.list-menu {
  font-size: 1.4em;
  line-height: $list-height;
}

.clearfix {
  &:before, &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.none {
  display: none !important;
}

.transparent {
  color: transparent !important;
  border-color: transparent !important;
  background-color: transparent !important;
}

.collapsed {
  margin: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

.collapsing {
  @include transition-duration(.4s);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.invisible {
  @include transform-scale(0, 0);
  @include transparent;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.img-circle {
  @include img-circle;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.subject {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.header-home-link {
  float: left;
  .header-logo {
    height: 30px;
  }
}

.header-list-menu {
  float: right;
}

.space-top {
  margin-top: 1.5em;
}

.space-bottom {
  margin-bottom: 1.5em;
}

.select {
  padding: 5px;
  line-height: 1;
  color: $blue-color;
  background: transparent;
  font-family: 'Dosis', 'Noto Sans KR', sans-serif;
  border: 0;
  @include border-radius(0);
}

.rm-button-style {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  outline: none;
  @include appearance(none);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  z-index: 99999;
  &.has-padding {
    padding: 10px;
  }
  ::-webkit-scrollbar { width: 0px; height: 0px; border: 0 solid transparent; }
  ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display: block; height: 0px; background: transparent; }
  ::-webkit-scrollbar-track { background: transparent; -webkit-border-radius: 0px; border-radius:0px; -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.0); }
  ::-webkit-scrollbar-thumb { height: 0px; width: 0px; background: rgba(0,0,0,.0); -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.0); }
  .popup-dim {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -999;
    @include transform-scale(100, 100);
    @include dim;
    @include transition-duration(.4s);
    &.invisible {
      @include transform-scale(0, 0);
      @include transparent;
    }
  }
  .dialog, .detail, .login, .signup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    overflow-y: auto;
    @include transform-translate(-50%, -50%);
    @include transform-origin(0% 0%);
    @include transition-duration(.1s);
     &.invisible {
      @include transform-scale(0, 0);
      @include transparent;
    }
    .one-of-two:nth-child(2n) {
      margin-left: 10px;
    }
    .ok-button, .no-button {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      height: 34px;
      line-height: 34px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
    .ok-button {
      background-color: $translate-button-color;
      &:hover {
         background-color: $translate-button-hover-color;
      }
    }
    .no-button {
      background-color: $cart-button-color;
      &:hover {
        background-color: $cart-button-hover-color;
      }
    }
    .popup-logo {
      width: 80px;
    }
  }
  .signup, .login {
    position: relative;
    padding: 50px;
    max-width: 500px;
    max-height: 100%;
    background-color: #323232;
    background-color: rgba(50, 50, 50, .9);
    @include border-radius(40px 0px 30px 0px);
    input {
      outline: none;
      @include appearance(none);
    }
    .half-input-wrapper {
      display: inline-block;
      float: left;
      width: 50%;
    }
    .half-input-wrapper:nth-child(2n + 1) {
      padding-right: 5px;
    }
    .half-input-wrapper:nth-child(2n) {
      padding-left: 5px;
    }
    input[type="text"], input[type="password"] {
      margin-bottom: 12px;
      width: 100%;
      line-height: 2em;
      color: #fff;
      background-color: transparent;
      font-size: 16px;
      border-top: none;
      border-bottom: 1px solid #ddd;
      border-right: none;
      border-left: none;
    }
    input[type="password"] {
      margin-bottom: 36px;
    }
    input[type="submit"] {
      margin-top: 36px;
      margin-bottom: 10px;
      width: 100%;
      line-height: 40px;
      color: #fff;
      background-color: $main-color;
      font-size: 20px;
      font-weight: 600;
    }
    input[type="checkbox"], input[type="radio"] {
      display: none;
    }
    input[type='checkbox'] + label {
      position: relative;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      color: #ddd;
      background-position: 0;
      background-size: 20px 20px;
      // 체크박스 해제 시 배경이미지 URL
      background-image: url("/img/status_xbtn_web.png");
      background-repeat: no-repeat;
      cursor: pointer;
      clear: none;
    }
    input[type='checkbox']:checked + label {
      color: #fff;
      // 체크박스 선택 시 배경이미지 URL
      background-image: url("/img/status_xbtn_web.png");
    }
    ::-webkit-input-placeholder {
      color: #ddd;
    }
    :-moz-placeholder {
      color: #ddd;
    }
    ::-moz-placeholder {
      color: #ddd;
    }
    :-ms-input-placeholder {
      color: #ddd;
    }
  }
  .signup {
    padding-bottom: 20px;
    .signup-title {
      margin-bottom: 40px;
      color: #fff;
      font-size: 20px;
    }
    input[type="password"] {
      margin-bottom: 12px;
    }
    .go-agreement {
      padding-bottom: .2em;
      color: $main-color;
      border-bottom: 1px solid $main-color;
    }
    .none-lg.space {
      margin: .5em;
    }
  }
  .login {
    .text-right {
      * {
        line-height: 2em;
        font-size: 14px;
      }
    }
    .login-title {
      margin-bottom: 40px;
      color: #fff;
      font-size: 20px;
    }
    .forget-password {
      color: #ddd;
      text-decoration: blink !important;
      &:hover {
        color: #fff;
      }
    }
    .sign-up {
      padding-bottom: .2em;
      line-height: 40px;
      color: $main-color;
      font-size: 20px;
      font-weight: 600;
      border-bottom: 1px solid $main-color;
    }
  }
  .dialog {
    padding: 30px;
    padding-top: 5px;
    max-width: 500px;
    background-color: #fff;
    @include border-radius(4px);
    .dialog-image {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: auto;
      img {
        display: block;
        margin: auto;
        width: 200px;
      }
    }
    .dialog-title {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $blue-color;
      font-weight: 600;
      font-size: 20px;
    }
    .dialog-message {
      
    }
    .dialog-buttons {
      display: block;
      margin: 10px 0px;
      text-align: center;
    }
    button {
      padding: 7px 20px;
      margin: 5px;
      color: #fff;
      border: none;
      @include border-radius(2px);
      cursor: pointer;
    }
    .close-popup {
      margin: 0;
      padding: 0;
      color: #000;
    }
    .no {
      background-color: $blue-color;
    }
    .yes {
      background-color: $red-color;
    }
    .price-input-wrapper {
      position: relative;
      input[type="submit"] {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: $blue-color;
        font-size: 16px;
        @include border-radius(4px);
        &:hover {
          background-color: $blue-hover-color;
        }
      }
    }
    .price-input {
      width: 100%;
    }
    [for="offered-price"] {
      position: absolute;
      padding-top: .2em;
      padding-bottom: .2em;
      height: 32px;
      line-height: 28px;
      font-size: 16px;
    }
    #offered-price {
      padding-top: .2em;
      padding-bottom: .2em;
      padding-left: 1em;
      height: 32px;
      font-size: 16px;
      border-bottom: 1px solid #797979;
    }
  }
  .detail {
    padding: 30px;
    padding-top: 5px;
    max-width: 820px;
    max-height: 100%;
    background-color: #fff;
    @include border-radius(2px);
    .detail-header {
      display: block;
      position: relative;
      font-size: 20px;
      span {
        font-size: 1em;
      }
    }
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .show-detail-information button i {
      font-size: 20px;
    }
    .detail-title {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $blue-color;
      font-weight: 600;
      font-size: 20px;
    }
    .detail-content {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 100;
      font-size: 16px;
    }
    .detail-informations {
      position: relative;
      margin-bottom: 30px;
      background-color: #f0f0f0;
      .detail-information {
        float: left;
        padding: 20px;
        width: 33.3333%;
      }
      hr {
        margin: 0;
        height: 1px;
        background-color: lightgray;
      }
      .detail-information-title {
        color: #888;
        font-size: 20px;
        font-weight: 500;
      }
      .detail-information-icons {
        margin-left: 50%;
        width: 90px;
        @include transform-translate(-50%, 0);
        .detail-information-icon {
          float: left;
          margin-right: 5px;
          margin-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #797979;
          font-size: 12px;
          text-align: center;
          img {
            width: 30px;
          }
          p {
            padding: 0;
            font-size: 8px;
          }
        }
        .detail-information-arrow {
          float: left;
          padding-top: 20px;
          width: 10px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .detail-information-words {
        display: block;
        color: #888;
        font-size: 46px;
        font-weight: bold;
      }
    }
    .price-input-wrapper {
      position: relative;
      min-height: 40px;
      input[type="submit"] {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: $blue-color;
        font-size: 16px;
        @include border-radius(4px);
        &:hover {
          background-color: $blue-hover-color;
        }
      }
    }
    .price-input {
      width: 100%;
    }
    [for="offered-price"] {
      position: absolute;
      padding-top: .2em;
      padding-bottom: .2em;
      height: 32px;
      line-height: 28px;
      font-size: 16px;
    }
    #offered-price {
      padding-top: .2em;
      padding-bottom: .2em;
      padding-left: 1em;
      height: 32px;
      font-size: 16px;
      border-bottom: 1px solid #797979;
    }
  }
}

.popup .detail {
  .opened {
    .memo-in-toggled {
      display: block;
      margin-top: .4em;
      margin-bottom: .4em;
    }
  }
  .memo-in-toggled {
    display: none;
    .sentence-memo {
      position: relative;
      top: auto !important;
      left: auto !important;
      .memo-wrapper {
        padding: 0;
      }
    }
  }
}

#header {
  position: fixed;
  top: -30px;
  left: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .9);
  overflow: visible;
  z-index: 150;
  @include transition-duration(.2s);
  @include transform-translate(0, 30px);
  &.scrolled {
    @include transform-translate(0, 0);
  }
  #header-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 960px;
    height: 100%;
  }
  .list-menu {
    li {
      float: left;
    }
    a {
      display: block;
      padding-right: 20px;
      padding-left: 20px;
      height: 100%;
      color: #000;
      &.selected {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
  #img-header {
    width: 48px;
    height: 48px;
    margin-top: -10px;
    box-shadow: 0px 0px 0px 1px $profile-image-border-color;
    cursor: pointer;
  }
}

#header-profile {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 280px;
  height: auto;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  font-size: 1.5em;
  text-align: center;
  z-index: 99999;
  @include transform-origin(90% 0%);
  @include transition-duration(.3s);
  #header-profile-container {
    padding: 30px;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
  }
  #img-profile {
    display: block;
    width: 140px;
    height: 140px;
    margin: auto;
  }
  #header-profile-name {
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }
  a.selected {
    background-color: $main-color;
    color: #fff;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .header-profile-button {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    color: #fff;
    text-decoration: blink;
  }
}

#container, .container {
  margin: auto;
  padding-top: 120px;
  width: 100%;
  max-width: 960px;
  .title {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
    color: $main-color;
    font-size: 4.8em;
    font-weight: lighter;
    overflow: hidden;
  }
  .subject {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
  }
  #content {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: 1px solid #797979;
    overflow-y: auto;
  }
  #set-language {
    float: left;
    margin-top: 10px;
    #select-language-from, #select-language-to {
      float: left;
      width: 120px;
    }
    i.fa {
      margin: 0;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  .submit {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    background-color: $sub-color;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
}

#notification {
  .notification {
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
    color: #fff;
    background-color: $blue-color;
    @include border-radius(5px);
    border-top-right-radius: 10vh;
    border-top-left-radius: 50vh;
    border-bottom-right-radius: 10vh;
    border-bottom-left-radius: 50vh;
  }
  .notification-icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    margin: auto;
    width: 32px;
    height: 32px;
    background-color: #fff;
    text-align: center;
    @include border-radius(50%);
    i {
      color: $blue-color;
      font-size: 20px;
      line-height: 32px;
    }
  }
  .notification-content {
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .notification-close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 50px;
    height: 32px;
    text-align: center;
    z-index: 3;
    i {
      margin: 0;
      padding: 0;
      line-height: 1em;
      color: #fff;
      font-size: 32px;
    }
  }
}

.mypage {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
  height: auto;
  .mypage-image-div {
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: transparent;
    cursor: pointer;
  }
  .mypage-image-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 2px #ccc;
  }
  .mypage-image-edit {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 24px;
    color: #333;
  }
  .mypage-email {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    font-size: 22px;
    text-align: center;
    &:empty:before {
      display: block;
      clear: both;
      content: 'test@email.com';
    }
  }
  .mypage-detail {
    position: relative;
  }
  .mypage-detail-row {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
  .mypage-detail-button {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    margin: auto;
    width: auto;
    height: 100%;
    color: #aaa;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border: none;
    i {
      margin-right: 10px;
      font-size: 16px;
    }
    i.ion-compose {
      font-size: 24px;
    }
    i.ion-ios-arrow-down {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .mypage-detail-left {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    margin: auto;
    width: 150px;
    height: auto;
    font-weight: 500;
  }
  .mypage-detail-right {
    padding-left: 150px;
    width: 100%;
  }
  .mypage-detail-left, .mypage-detail-right {
    line-height: 24px;
    font-size: 16px;
    &:empty:before {
      display: block;
      clear: both;
      content: 'test';
    }
    span {
      &:empty:before {
        display: block;
        clear: both;
        content: 'test';
      }
    }
  }
  .user-password-form {
    .mypage-detail-row {
      padding-bottom: 0;
      border-bottom: none;
    }
    .mypage-detail-row:last-child {
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
    }
  }
  .change-password-wrapper {
    display: none;
  }
}

.img-setting {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  padding-top: 5px;
  width: 400px;
  height: 630px;
  max-height: 100%;
  background-color: #fff;
  overflow-y: auto;
  @include border-radius(2px);
  @include transform-translate(-50%, -50%);
  @include transform-origin(0% 0%);
  @include transition-duration(.1s);
  .img-setting-header {
    position: relative;
    font-size: 20px;
    span {
      font-size: 20px;
    }
  }
  .img-setting-content {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 100;
    overflow: hidden;
  }
  .img-setting-crop-div {
    display: block;
    position: absolute;
    left: 50%;
    margin: 30px 0px;
    width: 300px;
    height: auto;
    font-weight: 100;
    font-size: 16px;
    overflow: hidden;
    @include transform-translate(-50%, 0);
  }
  .crop-guide {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    // Q. 20 사이즈보다 줄이는게 나을 것 같아요
    // font-size: 20px;
    font-size: 16px;
    font-weight: 100;
  }
  input[type="submit"] {
    margin: 5px;
    padding: 7px 20px;
    width: 100%;
    color: #fff;
    background-color: $blue-color;
    border: none;
    @include border-radius(2px);
    &:hover {
      background-color: $blue-hover-color;
    }
  }
}

#folder {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  .folder, .folder-add, .folder-edit {
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    min-height: 50px;
    color: #fff;
    cursor: pointer;
  }
  .folder {
    background-color: $main-color;
  }
  .folder-edit {
    background-color: #d4d8d8;
  }
  .folder-add {
    background-color: #bcebee;
  }
  .folder-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

#completed {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 500px;
  background-color: #fff;
  .completed {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #DDD;
  }
  .completed:last-child {
    margin-bottom: 0;
  }
  .completed-div-left {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
  }
  .completed-div-center {
    padding-right: 150px;
    padding-left: 150px;
    width: 100%;
  }
  .completed-div-right {
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
  }
  .completed-header {
    position: relative;
    height: 20px;
  }
  .completed-information {
    width: 110px;
  }
  .completed-language-information {
    background-color: #aaa;
  }
  .completed-language-information {
    background-color: #aaa;
  }
  .completed-content-type-information {
    background-color: #fafafa;
  }
  .completed-language, .completed-content-type {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    color: #797979;
    font-size: 12px;
    text-align: center;
    img {
      width: auto;
      height: 30px;
    }
    p {
      margin: 0;
      padding: 0;
      line-height: 1.5em;
      font-size: 8px;
    }
  }
  .completed-language-direction, .completed-content-type-blank {
    display: inline-block;
    padding-top: 20px;
    width: 10px;
    .arrow {
      width: 10px;
      height: auto;
    }
  }
  hr {
    margin: 0;
  }
  .completed-content {
    position: relative;
    margin-top: 10px;
    min-height: 160px;
  }
  .completed-date {
    margin-top: 10px;
    padding-top: 10px;
  }
  .completed-word-count {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #797979;
    background-color: #aaa;
    font-size: 12px;
    text-align: center;
  }
  .completed-content-title {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 200;
  }
  .completed-content-text-wrap {
    height: 80px;
    overflow-y: auto;
  }
  .completed-button {
    line-height: 1.8em;
    color: #fff;
    background-color: #748182;
    text-align: center;
    cursor: pointer;
  }
}

#tickets {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  // Q. min-height 왜 있는 건가요..?
  min-height: 200px;
  background-color: #DDD;
}

.ticket {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  &:last-child {
    margin-bottom: 0;
  }
  .applier-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .apply-button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .apply-translating {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: $blue-color;
    font-size: 16px;
    text-align: center;
    &:hover {
      background-color: $blue-hover-color;
    }
  }
  .applier {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    .applier-image {
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 0px 2px #cbcbcb;
    }
  }
  .applier:hover, .applier.active {
    .applier-information {
      display: inline-block;
      * {
        cursor: default;
      }
    }
  }
  .applied-cost {
    padding-right: .2em;
  }
  .applier-information {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    text-align: left;
    @include border-radius(2px);
    box-shadow: 3px 3px 5px #cbcbcb;
    z-index: 99;
  }
  .applier-name, .applier-score {
    white-space: nowrap;
  }
  .ticket-alert, .ticket-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .ticket-alert-dim {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
    @include dim;
  }
  .ticket-progress-inner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    @include transform-translate(0, -50%);
    .ticket-progress-dim {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $blue-color;
      z-index: -9;
      @include dim;
    }
  }
  .translator-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    .translator {
      margin-right: 10px;
      width: 80px;
      height: 80px;
      vertical-align: middle;
      box-shadow: 0px 0px 0px 5px #cbcbcb;
    }
    .translating-now {
      color: #fff;
      font-size: 16px;
    }
  }
  .ticket-alert-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    @include transform-translate(-50%, -50%);
  }
  .decide-wrapper {
    button {
      padding: 7px 20px;
      margin: 5px;
      color: #fff;
      border: none;
      @include border-radius(2px);
      cursor: pointer;
    }
    .accept-content {
      background-color: $blue-color;
    }
    .remove-content {
      background-color: $red-color;
    }
  }
  .ticket-header {
    position: relative;
    height: $ticket-header-height;
  }
  .user-name {
    line-height: 34px;
    font-size: 1.25em;
  }
  .user-request {
    line-height: 34px;
    font-weight: bold;
    font-size: 1em;
    overflow: hidden;
  }
  .translate-button, .cart-button, .charge-translate {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
  }
  .translate-button {
    color: #fff;
    background-color: $translate-button-color;
    &:hover {
      background-color: $translate-button-hover-color;
    }
  }
  .cart-button {
    margin-right: 10px;
    color: #fff;
    background-color: $cart-button-color;
    &:hover {
      background-color: $cart-button-hover-color;
    }
  }
  .charge-translate {
    color: $blue-color;
    background-color: #fff;
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border: 1px solid $blue-color;
      @include border-radius(50%);
      vertical-align: baseline;
    }
  }
  .ticket-profile {
    margin-right: 20px;
    width: 80px;
    .user-image {
      width: 80px;
      height: 80px;
      border: none;
      box-shadow: 0px 0px 0px 1px #3d3d3d;
    }
  }
  .ticket-information {
    width: 110px;
    outline: 2px solid #fff;
    .arrow {
      width: 10px;
      height: auto;
    }
    .ticket-word-count {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #797979;
      background-color: $ticket-background-darker-color;
      font-size: 12px;
      text-align: center;
    }
    .ticket-language-information {
      background-color: $ticket-background-darker-color;
    }
    .ticket-content-type-information {
      background-color: $ticket-background-lighter-color;
    }
    .ticket-language, .ticket-content-type {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 50px;
      color: #797979;
      font-size: 12px;
      text-align: center;
      img {
        width: auto;
        height: 30px;
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-size: 8px;
      }
    }
    .ticket-language-direction, .ticket-content-type-blank {
      padding-top: 20px;
      width: 10px;
    }
  }
  .ticket-content {
    position: relative;
    margin-top: 10px;
    .cart-wrapper {
      min-height: 1px;
    }
    .left-time {
      margin-top: 30px;
      p {
        line-height: 1.8em;
        color: #7d7a79;
        background-color: $ticket-background-lighter-color;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
      p:first-child {
        background-color: $ticket-background-darker-color;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
  .ticket-content-text-wrapper {
    height: 135px;
    overflow: auto;
  }
}

.request-wrapper {
  .paragraph {
    position: relative;
    margin-bottom: 50px;
    height: 70px;
    overflow: visible;
    z-index: 100;
    &.unlimit-height {
      height: auto;
    }
    textarea {
      margin: 0px;
      padding: 20px;
      width: 100%;
      height: auto;
      min-height: 500px;
      font-size: 16px;
      border: 1px solid #aaa;
    }
    #content-text-area {
      min-height: 500px;
    }
    #context-text-area {
      min-height: 200px;
    }
    #select-format, #select-field {
      padding-bottom: 5px;
      border-bottom: 1px solid #797979;
      .dd-pointer-down {
        display: inline-block;
      }
    }
  }
  // 가이드랑 마로님 산출물이랑 다른 부분입니다.
  .dd-container {
    // text-align: center;
  }
  .dd-selected-image, .dd-option-image {
    // float: none;
    // margin-right: 10px;
  }
  .dd-pointer-down {
    // display: none;
  }
  .time-element {
    width: 6em !important;
    font-size: 16px;
    border: none;
    outline: none;
    @include appearance(none);
  }
  .request-language, .request-format, .request-subject {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 266px;
    @include transform-translate(-50%, 0);
    i {
      float: left;
      margin-top: 10px;
    }
  }
  #select-language-from, #select-language-to {
    float: left;
  }
  #price-bar {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
  }
  .price-min {
    color: #3d3d3d;
    font-size: 12px;
  }
  #price {
    margin-top: 30px;
    height: 50px;
    color: #3d3d3d;
    font-size: 24px;
    text-align: center;
    .span-wrapper span {
      display: inline-block;
      margin-right: 20px;
      padding: 4px;
      width: 28px;
      height: 28px;
      font-size: 16px;
      border: 1px solid #000;
      @include border-radius(50%);
    }
  }
  #now-price {
    width: 50px;
    font-size: 16px;
    border: none;
  }
  .input-text-wrapper {
    margin-bottom: 10px;
  }
  .col-lg-third-1 {
    padding-right: 10px;
    .paragraph:nth-child(1) {
      z-index: 99;
    }
    .paragraph:nth-child(2) {
      z-index: 97;
    }
    .paragraph:nth-child(3) {
      z-index: 95;
    }
    .paragraph:nth-child(4) {
      z-index: 93;
    }
    .paragraph:nth-child(5) {
      z-index: 91;
    }
  }
  .col-lg-third-2 {
    .paragraph {
      height: auto;
    }
  }
  .request-submit-wrapper {
    float: left;
    width: 100%;
    height: auto;
    button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10%;
      padding-left: 10%;
      color: $sub-color;
      background-color: transparent;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid $sub-color;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $sub-color;
      }
    }
  }
}

#footer {
  background-color: $footer-background-color;
}
.footer-container {
  padding-top: 50px;
  padding-bottom: 0;
  padding-right: 40px;
  padding-left: 40px;
}
.footer-logo-wrapper {
  padding-bottom: 80px;
  img.footer-logo {
    width: 150px;
    height: auto;
  }
}
.translate-page {
  margin-bottom: 1em;
}
.company-informations {
  display: inline-block;
  width: 60%;
  font-size: 13px;
  i {
    margin-right: 6px;
  }
  .company-information {
  }
}
.company-other-informations {
  display: inline-block;
  vertical-align: top;
  .company-term, .company-link, .company-contact-title {
    line-height: 2.4em;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
  }
}
.company-terms {
  width: 12%;
}
.company-links {
  width: 13%;
}
.company-contacts {
  width: 15%;
  .company-contact-title {
    display: inline-block;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
  }
  .company-contact-request {
    line-height: 1.3em;
    font-size: 15px;
    a {
      color: #4a4a4a;
      text-decoration: blink;
      &:hover, &:visited, &:active, &:focus {
        color: #4a4a4a;
      }
    }
  }
  .company-contact {
    font-size: 13px;
    line-height: 2em;
  }
  br {
    margin: 10px;
  }
}
hr.footer-separator {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-copyright {
  padding-bottom: 30px;
  font-size: 12px;
}

@media screen and (max-width: 559px) {
  #header {
    #header-profile {
      width: 100%;
    }
    #header-profile-container {
      background-color: #000;
    }
  }
}

@media screen and (max-width: 860px) {
  #container {
    margin-right: 1%;
    margin-left: 1%;
    width: 98%;
    .title {
      position: fixed;
      top: 17px;
      left: 2px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      font-size: 2.4em;
      font-weight: bold;
      z-index: 9999;
    }
  }
  #header {
    @include transform-translate(0, 0);
    .header-home-link {
      display: none;
    }
  }
  #footer {
    width: 100%;
    [class*="col-"] {
      text-align: center;
    }
  }
  .popup {
    .detail {
      height: 100%;
    }
  }
  .ticket {
    .ticket-content {
      padding-bottom: 40px;
    }
    .ticket-content-text-wrapper {
      height: auto;
      max-height: 135px;
    }
    .applier {
      padding-right: 5px;
      padding-left: 5px;
    }
    .apply-button-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  .mypage {
    .mypage-detail-button, .mypage-detail-left, .mypage-detail-right {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      padding: 0;
      width: 100%;
    }
    .mypage-detail-button {
      margin: 5px;
      border: 1px solid #a9a9a9;
      @include border-radius(2px);
    }
  }
  #completed {
    .completed-div-left, .completed-div-right, .completed-div-center {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      padding: 0;
      width: 100%;
    }
  }
  #folder {
    margin-bottom: 0;
  }
  #completed {
    margin-bottom: 0;
    min-height: auto;
  }
  .request-wrapper {
    .col-lg-third-1 {
      padding-right: 0;
    }
  }
}

@media screen and (min-width: 861px) {
  #container {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }
  .ticket {
    .applier-wrapper {
      margin-bottom: 40px;
    }
    .apply-button-wrapper {
      margin-bottom: 40px;
    }
    .applier:nth-child(2n) {
      padding-right: 0;
      padding-left: 7px;
    }
    .applier:nth-child(2n + 1) {
      padding-right: 7px;
      padding-left: 0;
    }
  }
  .request-wrapper {
    .col-lg-third-1 {
      .paragraph {
        max-width: 266px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #container {
    width: 100%;
    max-width: 960px;
    margin: auto;
  }
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-quarter-1, .col-lg-quarter-2, .col-lg-quarter-3, .col-sm-quarter-1, .col-sm-quarter-2, .col-sm-quarter-3, .col-lg-third-1, .col-lg-third-2, .col-sm-third-1, .col-sm-third-2 {
  float: left;
  font-size: 16px;
}

@media screen and (max-width: 860px) {
  .none-sm {
    display: none !important;;
  }

  .col-sm-1 { width: 10%; } .col-sm-2 { width: 20%; } .col-sm-3 { width: 30%; } .col-sm-4 { width: 40%; } .col-sm-5 { width: 50%; } .col-sm-6 { width: 60%; } .col-sm-7 { width: 70%; } .col-sm-8 { width: 80%; } .col-sm-9 { width: 90%; } .col-sm-10 { width: 100%; } .col-sm-quarter-1 { width: 25%; } .col-sm-quarter-2 { width: 50%; } .col-sm-quarter-3 { width: 75%; } .col-sm-third-1 { width: 33.3333%; } .col-sm-third-2 { width: 66.6666%; }
}

@media screen and (min-width: 861px) {
  .none-lg {
    display: none !important;;
  }

  .col-lg-1 { width: 10%; } .col-lg-2 { width: 20%; } .col-lg-3 { width: 30%; } .col-lg-4 { width: 40%; } .col-lg-5 { width: 50%; } .col-lg-6 { width: 60%; } .col-lg-7 { width: 70%; } .col-lg-8 { width: 80%; } .col-lg-9 { width: 90%; } .col-lg-10 { width: 100%; } .col-lg-quarter-1 { width: 25%; } .col-lg-quarter-2 { width: 50%; } .col-lg-quarter-3 { width: 75%; } .col-lg-third-1 { width: 33.3333%; } .col-lg-third-2 { width: 66.6666%; }
}

@import 'translate';
@import 'list';

