/***** Global Variables & Mixins *****/
/***** Global Variables & Mixins *****/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
*, *:before, *:after {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: inherit !important;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html body {
  position: relative;
  background-color: transparent;
  font-family: "Dosis", "Noto Sans KR", sans-serif;
  font-size: 62.5% !important; }
  html body *, html body input {
    font-family: "Dosis", "Noto Sans KR", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input[type="checkbox"], input[type="radio"], input[type="search"], input[type="range"] {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="range"] {
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -khtml-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  background: #797979;
  border-radius: 22px;
  border: 0px solid #000101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #08c1ce;
  cursor: pointer;
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -khtml-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -10px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #797979; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  background: #797979;
  border-radius: 22px;
  border: 0px solid #000101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #08c1ce;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: .2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #797979;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #797979;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000;
  height: 20px;
  width: 20px;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #08c1ce;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #797979; }

input[type=range]:focus::-ms-fill-upper {
  background: #797979; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -o-appearance: button;
  -ms-progress-appearance: button;
  -moz-appearance: button;
  -khtml-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer; }

a {
  text-decoration: blink; }
  a:hover, a:visited, a:active, a:focus {
    text-decoration: blink; }

label, span, i.fa {
  font-size: 16px; }

ul.list-layout {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside; }
  ul.list-layout li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 2px; }

ul.list-menu {
  font-size: 1.4em;
  line-height: 30px; }

.clearfix:before, .clearfix:after {
  display: block;
  content: '';
  clear: both; }

.none {
  display: none !important; }

.transparent {
  color: transparent !important;
  border-color: transparent !important;
  background-color: transparent !important; }

.collapsed {
  margin: 0 !important;
  height: 0 !important;
  overflow: hidden; }

.collapsing {
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.invisible {
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.img-circle {
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3; }

.subject {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold; }

.header-home-link {
  float: left; }
  .header-home-link .header-logo {
    height: 30px; }

.header-list-menu {
  float: right; }

.space-top {
  margin-top: 1.5em; }

.space-bottom {
  margin-bottom: 1.5em; }

.select {
  padding: 5px;
  line-height: 1;
  color: #0079db;
  background: transparent;
  font-family: 'Dosis', 'Noto Sans KR', sans-serif;
  border: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.rm-button-style {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  outline: none;
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -khtml-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  z-index: 99999; }
  .popup.has-padding {
    padding: 10px; }
  .popup ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border: 0 solid transparent; }
  .popup ::-webkit-scrollbar-button:start:decrement, .popup ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0px;
    background: transparent; }
  .popup ::-webkit-scrollbar-track {
    background: transparent;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 transparent; }
  .popup ::-webkit-scrollbar-thumb {
    height: 0px;
    width: 0px;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 transparent; }
  .popup .popup-dim {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -999;
    -ms-transform: scale(100, 100);
    -webkit-transform: scale(100, 100);
    transform: scale(100, 100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .popup .popup-dim.invisible {
      -ms-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
  .popup .dialog, .popup .detail, .popup .login, .popup .signup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    overflow-y: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .popup .dialog.invisible, .popup .detail.invisible, .popup .login.invisible, .popup .signup.invisible {
      -ms-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .popup .dialog .one-of-two:nth-child(2n), .popup .detail .one-of-two:nth-child(2n), .popup .login .one-of-two:nth-child(2n), .popup .signup .one-of-two:nth-child(2n) {
      margin-left: 10px; }
    .popup .dialog .ok-button, .popup .dialog .no-button, .popup .detail .ok-button, .popup .detail .no-button, .popup .login .ok-button, .popup .login .no-button, .popup .signup .ok-button, .popup .signup .no-button {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      height: 34px;
      line-height: 34px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      cursor: pointer; }
    .popup .dialog .ok-button, .popup .detail .ok-button, .popup .login .ok-button, .popup .signup .ok-button {
      background-color: #23c1cd; }
      .popup .dialog .ok-button:hover, .popup .detail .ok-button:hover, .popup .login .ok-button:hover, .popup .signup .ok-button:hover {
        background-color: #23c1cd; }
    .popup .dialog .no-button, .popup .detail .no-button, .popup .login .no-button, .popup .signup .no-button {
      background-color: #6ea9d7; }
      .popup .dialog .no-button:hover, .popup .detail .no-button:hover, .popup .login .no-button:hover, .popup .signup .no-button:hover {
        background-color: #6ea9d7; }
    .popup .dialog .popup-logo, .popup .detail .popup-logo, .popup .login .popup-logo, .popup .signup .popup-logo {
      width: 80px; }
  .popup .signup, .popup .login {
    position: relative;
    padding: 50px;
    max-width: 500px;
    max-height: 100%;
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.9);
    -o-border-radius: 40px 0px 30px 0px;
    -ms-border-radius: 40px 0px 30px 0px;
    -moz-border-radius: 40px 0px 30px 0px;
    -khtml-border-radius: 40px 0px 30px 0px;
    -webkit-border-radius: 40px 0px 30px 0px;
    border-radius: 40px 0px 30px 0px; }
    .popup .signup input, .popup .login input {
      outline: none;
      -o-appearance: none;
      -ms-progress-appearance: none;
      -moz-appearance: none;
      -khtml-appearance: none;
      -webkit-appearance: none;
      appearance: none; }
    .popup .signup .half-input-wrapper, .popup .login .half-input-wrapper {
      display: inline-block;
      float: left;
      width: 50%; }
    .popup .signup .half-input-wrapper:nth-child(2n + 1), .popup .login .half-input-wrapper:nth-child(2n + 1) {
      padding-right: 5px; }
    .popup .signup .half-input-wrapper:nth-child(2n), .popup .login .half-input-wrapper:nth-child(2n) {
      padding-left: 5px; }
    .popup .signup input[type="text"], .popup .signup input[type="password"], .popup .login input[type="text"], .popup .login input[type="password"] {
      margin-bottom: 12px;
      width: 100%;
      line-height: 2em;
      color: #fff;
      background-color: transparent;
      font-size: 16px;
      border-top: none;
      border-bottom: 1px solid #ddd;
      border-right: none;
      border-left: none; }
    .popup .signup input[type="password"], .popup .login input[type="password"] {
      margin-bottom: 36px; }
    .popup .signup input[type="submit"], .popup .login input[type="submit"] {
      margin-top: 36px;
      margin-bottom: 10px;
      width: 100%;
      line-height: 40px;
      color: #fff;
      background-color: #02c1cf;
      font-size: 20px;
      font-weight: 600; }
    .popup .signup input[type="checkbox"], .popup .signup input[type="radio"], .popup .login input[type="checkbox"], .popup .login input[type="radio"] {
      display: none; }
    .popup .signup input[type='checkbox'] + label, .popup .login input[type='checkbox'] + label {
      position: relative;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      color: #ddd;
      background-position: 0;
      background-size: 20px 20px;
      background-image: url("/img/status_xbtn_web.png");
      background-repeat: no-repeat;
      cursor: pointer;
      clear: none; }
    .popup .signup input[type='checkbox']:checked + label, .popup .login input[type='checkbox']:checked + label {
      color: #fff;
      background-image: url("/img/status_xbtn_web.png"); }
    .popup .signup ::-webkit-input-placeholder, .popup .login ::-webkit-input-placeholder {
      color: #ddd; }
    .popup .signup :-moz-placeholder, .popup .login :-moz-placeholder {
      color: #ddd; }
    .popup .signup ::-moz-placeholder, .popup .login ::-moz-placeholder {
      color: #ddd; }
    .popup .signup :-ms-input-placeholder, .popup .login :-ms-input-placeholder {
      color: #ddd; }
  .popup .signup {
    padding-bottom: 20px; }
    .popup .signup .signup-title {
      margin-bottom: 40px;
      color: #fff;
      font-size: 20px; }
    .popup .signup input[type="password"] {
      margin-bottom: 12px; }
    .popup .signup .go-agreement {
      padding-bottom: .2em;
      color: #02c1cf;
      border-bottom: 1px solid #02c1cf; }
    .popup .signup .none-lg.space {
      margin: .5em; }
  .popup .login .text-right * {
    line-height: 2em;
    font-size: 14px; }
  .popup .login .login-title {
    margin-bottom: 40px;
    color: #fff;
    font-size: 20px; }
  .popup .login .forget-password {
    color: #ddd;
    text-decoration: blink !important; }
    .popup .login .forget-password:hover {
      color: #fff; }
  .popup .login .sign-up {
    padding-bottom: .2em;
    line-height: 40px;
    color: #02c1cf;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #02c1cf; }
  .popup .dialog {
    padding: 30px;
    padding-top: 5px;
    max-width: 500px;
    background-color: #fff;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .popup .dialog .dialog-image {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: auto; }
      .popup .dialog .dialog-image img {
        display: block;
        margin: auto;
        width: 200px; }
    .popup .dialog .dialog-title {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0079db;
      font-weight: 600;
      font-size: 20px; }
    .popup .dialog .dialog-buttons {
      display: block;
      margin: 10px 0px;
      text-align: center; }
    .popup .dialog button {
      padding: 7px 20px;
      margin: 5px;
      color: #fff;
      border: none;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -moz-border-radius: 2px;
      -khtml-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      cursor: pointer; }
    .popup .dialog .close-popup {
      margin: 0;
      padding: 0;
      color: #000; }
    .popup .dialog .no {
      background-color: #0079db; }
    .popup .dialog .yes {
      background-color: #fe9797; }
    .popup .dialog .price-input-wrapper {
      position: relative; }
      .popup .dialog .price-input-wrapper input[type="submit"] {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: #0079db;
        font-size: 16px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
        .popup .dialog .price-input-wrapper input[type="submit"]:hover {
          background-color: #0068CA; }
    .popup .dialog .price-input {
      width: 100%; }
    .popup .dialog [for="offered-price"] {
      position: absolute;
      padding-top: .2em;
      padding-bottom: .2em;
      height: 32px;
      line-height: 28px;
      font-size: 16px; }
    .popup .dialog #offered-price {
      padding-top: .2em;
      padding-bottom: .2em;
      padding-left: 1em;
      height: 32px;
      font-size: 16px;
      border-bottom: 1px solid #797979; }
  .popup .detail {
    padding: 30px;
    padding-top: 5px;
    max-width: 820px;
    max-height: 100%;
    background-color: #fff;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .popup .detail .detail-header {
      display: block;
      position: relative;
      font-size: 20px; }
      .popup .detail .detail-header span {
        font-size: 1em; }
    .popup .detail hr {
      margin-top: 30px;
      margin-bottom: 30px; }
    .popup .detail .show-detail-information button i {
      font-size: 20px; }
    .popup .detail .detail-title {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0079db;
      font-weight: 600;
      font-size: 20px; }
    .popup .detail .detail-content {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 100;
      font-size: 16px; }
    .popup .detail .detail-informations {
      position: relative;
      margin-bottom: 30px;
      background-color: #f0f0f0; }
      .popup .detail .detail-informations .detail-information {
        float: left;
        padding: 20px;
        width: 33.3333%; }
      .popup .detail .detail-informations hr {
        margin: 0;
        height: 1px;
        background-color: lightgray; }
      .popup .detail .detail-informations .detail-information-title {
        color: #888;
        font-size: 20px;
        font-weight: 500; }
      .popup .detail .detail-informations .detail-information-icons {
        margin-left: 50%;
        width: 90px;
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
        .popup .detail .detail-informations .detail-information-icons .detail-information-icon {
          float: left;
          margin-right: 5px;
          margin-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #797979;
          font-size: 12px;
          text-align: center; }
          .popup .detail .detail-informations .detail-information-icons .detail-information-icon img {
            width: 30px; }
          .popup .detail .detail-informations .detail-information-icons .detail-information-icon p {
            padding: 0;
            font-size: 8px; }
        .popup .detail .detail-informations .detail-information-icons .detail-information-arrow {
          float: left;
          padding-top: 20px;
          width: 10px; }
          .popup .detail .detail-informations .detail-information-icons .detail-information-arrow img {
            width: 100%;
            height: auto; }
      .popup .detail .detail-informations .detail-information-words {
        display: block;
        color: #888;
        font-size: 46px;
        font-weight: bold; }
    .popup .detail .price-input-wrapper {
      position: relative;
      min-height: 40px; }
      .popup .detail .price-input-wrapper input[type="submit"] {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: #0079db;
        font-size: 16px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
        .popup .detail .price-input-wrapper input[type="submit"]:hover {
          background-color: #0068CA; }
    .popup .detail .price-input {
      width: 100%; }
    .popup .detail [for="offered-price"] {
      position: absolute;
      padding-top: .2em;
      padding-bottom: .2em;
      height: 32px;
      line-height: 28px;
      font-size: 16px; }
    .popup .detail #offered-price {
      padding-top: .2em;
      padding-bottom: .2em;
      padding-left: 1em;
      height: 32px;
      font-size: 16px;
      border-bottom: 1px solid #797979; }

.popup .detail .opened .memo-in-toggled {
  display: block;
  margin-top: .4em;
  margin-bottom: .4em; }

.popup .detail .memo-in-toggled {
  display: none; }
  .popup .detail .memo-in-toggled .sentence-memo {
    position: relative;
    top: auto !important;
    left: auto !important; }
    .popup .detail .memo-in-toggled .sentence-memo .memo-wrapper {
      padding: 0; }

#header {
  position: fixed;
  top: -30px;
  left: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: visible;
  z-index: 150;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -ms-transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px); }
  #header.scrolled {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  #header #header-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 960px;
    height: 100%; }
  #header .list-menu li {
    float: left; }
  #header .list-menu a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    color: #000; }
    #header .list-menu a.selected {
      background-color: #02c1cf;
      color: #fff; }
  #header #img-header {
    width: 48px;
    height: 48px;
    margin-top: -10px;
    box-shadow: 0px 0px 0px 1px #ccc;
    cursor: pointer; }

#header-profile {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 280px;
  height: auto;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  text-align: center;
  z-index: 99999;
  -ms-transform-origin: 90% 0%;
  -webkit-transform-origin: 90% 0%;
  transform-origin: 90% 0%;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #header-profile #header-profile-container {
    padding: 30px;
    max-height: calc(100vh - 90px);
    overflow-y: auto; }
  #header-profile #img-profile {
    display: block;
    width: 140px;
    height: 140px;
    margin: auto; }
  #header-profile #header-profile-name {
    display: block;
    margin-top: 10px;
    font-size: 20px; }
  #header-profile a.selected {
    background-color: #02c1cf;
    color: #fff; }
  #header-profile hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px; }
  #header-profile .header-profile-button {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    color: #fff;
    text-decoration: blink; }

#container, .container {
  margin: auto;
  padding-top: 120px;
  width: 100%;
  max-width: 960px; }
  #container .title, .container .title {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #02c1cf;
    font-size: 4.8em;
    font-weight: lighter;
    overflow: hidden; }
  #container .subject, .container .subject {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px; }
  #container #content, .container #content {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: 1px solid #797979;
    overflow-y: auto; }
  #container #set-language, .container #set-language {
    float: left;
    margin-top: 10px; }
    #container #set-language #select-language-from, #container #set-language #select-language-to, .container #set-language #select-language-from, .container #set-language #select-language-to {
      float: left;
      width: 120px; }
    #container #set-language i.fa, .container #set-language i.fa {
      margin: 0;
      margin-top: 10px;
      margin-right: 10px; }
  #container .submit, .container .submit {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    background-color: #08c1ce;
    border: none;
    font-size: 16px;
    cursor: pointer; }

#notification .notification {
  position: relative;
  margin-bottom: 5px;
  padding: 10px;
  color: #fff;
  background-color: #0079db;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-right-radius: 10vh;
  border-top-left-radius: 50vh;
  border-bottom-right-radius: 10vh;
  border-bottom-left-radius: 50vh; }

#notification .notification-icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  margin: auto;
  width: 32px;
  height: 32px;
  background-color: #fff;
  text-align: center;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  #notification .notification-icon i {
    color: #0079db;
    font-size: 20px;
    line-height: 32px; }

#notification .notification-content {
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#notification .notification-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 50px;
  height: 32px;
  text-align: center;
  z-index: 3; }
  #notification .notification-close i {
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #fff;
    font-size: 32px; }

.mypage {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
  height: auto; }
  .mypage .mypage-image-div {
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: transparent;
    cursor: pointer; }
  .mypage .mypage-image-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 2px #ccc; }
  .mypage .mypage-image-edit {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 24px;
    color: #333; }
  .mypage .mypage-email {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    font-size: 22px;
    text-align: center; }
    .mypage .mypage-email:empty:before {
      display: block;
      clear: both;
      content: 'test@email.com'; }
  .mypage .mypage-detail {
    position: relative; }
  .mypage .mypage-detail-row {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #eee; }
  .mypage .mypage-detail-button {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    margin: auto;
    width: auto;
    height: 100%;
    color: #aaa;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border: none; }
    .mypage .mypage-detail-button i {
      margin-right: 10px;
      font-size: 16px; }
    .mypage .mypage-detail-button i.ion-compose {
      font-size: 24px; }
    .mypage .mypage-detail-button i.ion-ios-arrow-down {
      font-size: 24px;
      vertical-align: middle; }
  .mypage .mypage-detail-left {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    margin: auto;
    width: 150px;
    height: auto;
    font-weight: 500; }
  .mypage .mypage-detail-right {
    padding-left: 150px;
    width: 100%; }
  .mypage .mypage-detail-left, .mypage .mypage-detail-right {
    line-height: 24px;
    font-size: 16px; }
    .mypage .mypage-detail-left:empty:before, .mypage .mypage-detail-right:empty:before {
      display: block;
      clear: both;
      content: 'test'; }
    .mypage .mypage-detail-left span:empty:before, .mypage .mypage-detail-right span:empty:before {
      display: block;
      clear: both;
      content: 'test'; }
  .mypage .user-password-form .mypage-detail-row {
    padding-bottom: 0;
    border-bottom: none; }
  .mypage .user-password-form .mypage-detail-row:last-child {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
  .mypage .change-password-wrapper {
    display: none; }

.img-setting {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  padding-top: 5px;
  width: 400px;
  height: 630px;
  max-height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .img-setting .img-setting-header {
    position: relative;
    font-size: 20px; }
    .img-setting .img-setting-header span {
      font-size: 20px; }
  .img-setting .img-setting-content {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 100;
    overflow: hidden; }
  .img-setting .img-setting-crop-div {
    display: block;
    position: absolute;
    left: 50%;
    margin: 30px 0px;
    width: 300px;
    height: auto;
    font-weight: 100;
    font-size: 16px;
    overflow: hidden;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .img-setting .crop-guide {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 100; }
  .img-setting input[type="submit"] {
    margin: 5px;
    padding: 7px 20px;
    width: 100%;
    color: #fff;
    background-color: #0079db;
    border: none;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .img-setting input[type="submit"]:hover {
      background-color: #0068CA; }

#folder {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; }
  #folder .folder, #folder .folder-add, #folder .folder-edit {
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    min-height: 50px;
    color: #fff;
    cursor: pointer; }
  #folder .folder {
    background-color: #02c1cf; }
  #folder .folder-edit {
    background-color: #d4d8d8; }
  #folder .folder-add {
    background-color: #bcebee; }
  #folder .folder-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#completed {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 500px;
  background-color: #fff; }
  #completed .completed {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F8F8F8;
    border: 1px solid #DDD; }
  #completed .completed:last-child {
    margin-bottom: 0; }
  #completed .completed-div-left {
    position: absolute;
    width: 150px;
    top: 0;
    left: 0; }
  #completed .completed-div-center {
    padding-right: 150px;
    padding-left: 150px;
    width: 100%; }
  #completed .completed-div-right {
    position: absolute;
    width: 150px;
    top: 0;
    right: 0; }
  #completed .completed-header {
    position: relative;
    height: 20px; }
  #completed .completed-information {
    width: 110px; }
  #completed .completed-language-information {
    background-color: #aaa; }
  #completed .completed-language-information {
    background-color: #aaa; }
  #completed .completed-content-type-information {
    background-color: #fafafa; }
  #completed .completed-language, #completed .completed-content-type {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    color: #797979;
    font-size: 12px;
    text-align: center; }
    #completed .completed-language img, #completed .completed-content-type img {
      width: auto;
      height: 30px; }
    #completed .completed-language p, #completed .completed-content-type p {
      margin: 0;
      padding: 0;
      line-height: 1.5em;
      font-size: 8px; }
  #completed .completed-language-direction, #completed .completed-content-type-blank {
    display: inline-block;
    padding-top: 20px;
    width: 10px; }
    #completed .completed-language-direction .arrow, #completed .completed-content-type-blank .arrow {
      width: 10px;
      height: auto; }
  #completed hr {
    margin: 0; }
  #completed .completed-content {
    position: relative;
    margin-top: 10px;
    min-height: 160px; }
  #completed .completed-date {
    margin-top: 10px;
    padding-top: 10px; }
  #completed .completed-word-count {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #797979;
    background-color: #aaa;
    font-size: 12px;
    text-align: center; }
  #completed .completed-content-title {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 200; }
  #completed .completed-content-text-wrap {
    height: 80px;
    overflow-y: auto; }
  #completed .completed-button {
    line-height: 1.8em;
    color: #fff;
    background-color: #748182;
    text-align: center;
    cursor: pointer; }

#tickets {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #DDD; }

.ticket {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #f8f8f8; }
  .ticket:last-child {
    margin-bottom: 0; }
  .ticket .applier-wrapper {
    margin-top: 10px;
    margin-bottom: 10px; }
  .ticket .apply-button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px; }
  .ticket .apply-translating {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background-color: #0079db;
    font-size: 16px;
    text-align: center; }
    .ticket .apply-translating:hover {
      background-color: #0068CA; }
  .ticket .applier {
    display: inline-block;
    position: relative;
    margin-bottom: 10px; }
    .ticket .applier .applier-image {
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 0px 2px #cbcbcb; }
  .ticket .applier:hover .applier-information, .ticket .applier.active .applier-information {
    display: inline-block; }
    .ticket .applier:hover .applier-information *, .ticket .applier.active .applier-information * {
      cursor: default; }
  .ticket .applied-cost {
    padding-right: .2em; }
  .ticket .applier-information {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    text-align: left;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #cbcbcb;
    z-index: 99; }
  .ticket .applier-name, .ticket .applier-score {
    white-space: nowrap; }
  .ticket .ticket-alert, .ticket .ticket-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .ticket .ticket-alert-dim {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5; }
  .ticket .ticket-progress-inner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .ticket .ticket-progress-inner .ticket-progress-dim {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #0079db;
      z-index: -9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      opacity: .5; }
  .ticket .translator-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%; }
    .ticket .translator-wrapper .translator {
      margin-right: 10px;
      width: 80px;
      height: 80px;
      vertical-align: middle;
      box-shadow: 0px 0px 0px 5px #cbcbcb; }
    .ticket .translator-wrapper .translating-now {
      color: #fff;
      font-size: 16px; }
  .ticket .ticket-alert-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .ticket .decide-wrapper button {
    padding: 7px 20px;
    margin: 5px;
    color: #fff;
    border: none;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer; }
  .ticket .decide-wrapper .accept-content {
    background-color: #0079db; }
  .ticket .decide-wrapper .remove-content {
    background-color: #fe9797; }
  .ticket .ticket-header {
    position: relative;
    height: 38px; }
  .ticket .user-name {
    line-height: 34px;
    font-size: 1.25em; }
  .ticket .user-request {
    line-height: 34px;
    font-weight: bold;
    font-size: 1em;
    overflow: hidden; }
  .ticket .translate-button, .ticket .cart-button, .ticket .charge-translate {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer; }
  .ticket .translate-button {
    color: #fff;
    background-color: #23c1cd; }
    .ticket .translate-button:hover {
      background-color: #23c1cd; }
  .ticket .cart-button {
    margin-right: 10px;
    color: #fff;
    background-color: #6ea9d7; }
    .ticket .cart-button:hover {
      background-color: #6ea9d7; }
  .ticket .charge-translate {
    color: #0079db;
    background-color: #fff; }
    .ticket .charge-translate span {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #0079db;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -khtml-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      vertical-align: baseline; }
  .ticket .ticket-profile {
    margin-right: 20px;
    width: 80px; }
    .ticket .ticket-profile .user-image {
      width: 80px;
      height: 80px;
      border: none;
      box-shadow: 0px 0px 0px 1px #3d3d3d; }
  .ticket .ticket-information {
    width: 110px;
    outline: 2px solid #fff; }
    .ticket .ticket-information .arrow {
      width: 10px;
      height: auto; }
    .ticket .ticket-information .ticket-word-count {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #797979;
      background-color: #f4f4f4;
      font-size: 12px;
      text-align: center; }
    .ticket .ticket-information .ticket-language-information {
      background-color: #f4f4f4; }
    .ticket .ticket-information .ticket-content-type-information {
      background-color: #fafafa; }
    .ticket .ticket-information .ticket-language, .ticket .ticket-information .ticket-content-type {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 50px;
      color: #797979;
      font-size: 12px;
      text-align: center; }
      .ticket .ticket-information .ticket-language img, .ticket .ticket-information .ticket-content-type img {
        width: auto;
        height: 30px; }
      .ticket .ticket-information .ticket-language p, .ticket .ticket-information .ticket-content-type p {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-size: 8px; }
    .ticket .ticket-information .ticket-language-direction, .ticket .ticket-information .ticket-content-type-blank {
      padding-top: 20px;
      width: 10px; }
  .ticket .ticket-content {
    position: relative;
    margin-top: 10px; }
    .ticket .ticket-content .cart-wrapper {
      min-height: 1px; }
    .ticket .ticket-content .left-time {
      margin-top: 30px; }
      .ticket .ticket-content .left-time p {
        line-height: 1.8em;
        color: #7d7a79;
        background-color: #fafafa;
        font-size: 14px;
        font-weight: 600;
        text-align: center; }
      .ticket .ticket-content .left-time p:first-child {
        background-color: #f4f4f4;
        font-size: 12px;
        font-weight: 300; }
  .ticket .ticket-content-text-wrapper {
    height: 135px;
    overflow: auto; }

.request-wrapper .paragraph {
  position: relative;
  margin-bottom: 50px;
  height: 70px;
  overflow: visible;
  z-index: 100; }
  .request-wrapper .paragraph.unlimit-height {
    height: auto; }
  .request-wrapper .paragraph textarea {
    margin: 0px;
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 500px;
    font-size: 16px;
    border: 1px solid #aaa; }
  .request-wrapper .paragraph #content-text-area {
    min-height: 500px; }
  .request-wrapper .paragraph #context-text-area {
    min-height: 200px; }
  .request-wrapper .paragraph #select-format, .request-wrapper .paragraph #select-field {
    padding-bottom: 5px;
    border-bottom: 1px solid #797979; }
    .request-wrapper .paragraph #select-format .dd-pointer-down, .request-wrapper .paragraph #select-field .dd-pointer-down {
      display: inline-block; }

.request-wrapper .time-element {
  width: 6em !important;
  font-size: 16px;
  border: none;
  outline: none;
  -o-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -khtml-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.request-wrapper .request-language, .request-wrapper .request-format, .request-wrapper .request-subject {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 266px;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .request-wrapper .request-language i, .request-wrapper .request-format i, .request-wrapper .request-subject i {
    float: left;
    margin-top: 10px; }

.request-wrapper #select-language-from, .request-wrapper #select-language-to {
  float: left; }

.request-wrapper #price-bar {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%; }

.request-wrapper .price-min {
  color: #3d3d3d;
  font-size: 12px; }

.request-wrapper #price {
  margin-top: 30px;
  height: 50px;
  color: #3d3d3d;
  font-size: 24px;
  text-align: center; }
  .request-wrapper #price .span-wrapper span {
    display: inline-block;
    margin-right: 20px;
    padding: 4px;
    width: 28px;
    height: 28px;
    font-size: 16px;
    border: 1px solid #000;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.request-wrapper #now-price {
  width: 50px;
  font-size: 16px;
  border: none; }

.request-wrapper .input-text-wrapper {
  margin-bottom: 10px; }

.request-wrapper .col-lg-third-1 {
  padding-right: 10px; }
  .request-wrapper .col-lg-third-1 .paragraph:nth-child(1) {
    z-index: 99; }
  .request-wrapper .col-lg-third-1 .paragraph:nth-child(2) {
    z-index: 97; }
  .request-wrapper .col-lg-third-1 .paragraph:nth-child(3) {
    z-index: 95; }
  .request-wrapper .col-lg-third-1 .paragraph:nth-child(4) {
    z-index: 93; }
  .request-wrapper .col-lg-third-1 .paragraph:nth-child(5) {
    z-index: 91; }

.request-wrapper .col-lg-third-2 .paragraph {
  height: auto; }

.request-wrapper .request-submit-wrapper {
  float: left;
  width: 100%;
  height: auto; }
  .request-wrapper .request-submit-wrapper button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;
    color: #08c1ce;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #08c1ce;
    cursor: pointer; }
    .request-wrapper .request-submit-wrapper button:hover {
      color: #fff;
      background-color: #08c1ce; }

#footer {
  background-color: #f5f4f3; }

.footer-container {
  padding-top: 50px;
  padding-bottom: 0;
  padding-right: 40px;
  padding-left: 40px; }

.footer-logo-wrapper {
  padding-bottom: 80px; }
  .footer-logo-wrapper img.footer-logo {
    width: 150px;
    height: auto; }

.translate-page {
  margin-bottom: 1em; }

.company-informations {
  display: inline-block;
  width: 60%;
  font-size: 13px; }
  .company-informations i {
    margin-right: 6px; }

.company-other-informations {
  display: inline-block;
  vertical-align: top; }
  .company-other-informations .company-term, .company-other-informations .company-link, .company-other-informations .company-contact-title {
    line-height: 2.4em;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500; }

.company-terms {
  width: 12%; }

.company-links {
  width: 13%; }

.company-contacts {
  width: 15%; }
  .company-contacts .company-contact-title {
    display: inline-block;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc; }
  .company-contacts .company-contact-request {
    line-height: 1.3em;
    font-size: 15px; }
    .company-contacts .company-contact-request a {
      color: #4a4a4a;
      text-decoration: blink; }
      .company-contacts .company-contact-request a:hover, .company-contacts .company-contact-request a:visited, .company-contacts .company-contact-request a:active, .company-contacts .company-contact-request a:focus {
        color: #4a4a4a; }
  .company-contacts .company-contact {
    font-size: 13px;
    line-height: 2em; }
  .company-contacts br {
    margin: 10px; }

hr.footer-separator {
  margin-top: 20px;
  margin-bottom: 20px; }

.footer-copyright {
  padding-bottom: 30px;
  font-size: 12px; }

@media screen and (max-width: 559px) {
  #header #header-profile {
    width: 100%; }
  #header #header-profile-container {
    background-color: #000; } }

@media screen and (max-width: 860px) {
  #container {
    margin-right: 1%;
    margin-left: 1%;
    width: 98%; }
    #container .title {
      position: fixed;
      top: 17px;
      left: 2px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      font-size: 2.4em;
      font-weight: bold;
      z-index: 9999; }
  #header {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    #header .header-home-link {
      display: none; }
  #footer {
    width: 100%; }
    #footer [class*="col-"] {
      text-align: center; }
  .popup .detail {
    height: 100%; }
  .ticket .ticket-content {
    padding-bottom: 40px; }
  .ticket .ticket-content-text-wrapper {
    height: auto;
    max-height: 135px; }
  .ticket .applier {
    padding-right: 5px;
    padding-left: 5px; }
  .ticket .apply-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0; }
  .mypage .mypage-detail-button, .mypage .mypage-detail-left, .mypage .mypage-detail-right {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    padding: 0;
    width: 100%; }
  .mypage .mypage-detail-button {
    margin: 5px;
    border: 1px solid #a9a9a9;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  #completed .completed-div-left, #completed .completed-div-right, #completed .completed-div-center {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    padding: 0;
    width: 100%; }
  #folder {
    margin-bottom: 0; }
  #completed {
    margin-bottom: 0;
    min-height: auto; }
  .request-wrapper .col-lg-third-1 {
    padding-right: 0; } }

@media screen and (min-width: 861px) {
  #container {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%; }
  .ticket .applier-wrapper {
    margin-bottom: 40px; }
  .ticket .apply-button-wrapper {
    margin-bottom: 40px; }
  .ticket .applier:nth-child(2n) {
    padding-right: 0;
    padding-left: 7px; }
  .ticket .applier:nth-child(2n + 1) {
    padding-right: 7px;
    padding-left: 0; }
  .request-wrapper .col-lg-third-1 .paragraph {
    max-width: 266px; } }

@media screen and (min-width: 1024px) {
  #container {
    width: 100%;
    max-width: 960px;
    margin: auto; } }

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-quarter-1, .col-lg-quarter-2, .col-lg-quarter-3, .col-sm-quarter-1, .col-sm-quarter-2, .col-sm-quarter-3, .col-lg-third-1, .col-lg-third-2, .col-sm-third-1, .col-sm-third-2 {
  float: left;
  font-size: 16px; }

@media screen and (max-width: 860px) {
  .none-sm {
    display: none !important; }
  .col-sm-1 {
    width: 10%; }
  .col-sm-2 {
    width: 20%; }
  .col-sm-3 {
    width: 30%; }
  .col-sm-4 {
    width: 40%; }
  .col-sm-5 {
    width: 50%; }
  .col-sm-6 {
    width: 60%; }
  .col-sm-7 {
    width: 70%; }
  .col-sm-8 {
    width: 80%; }
  .col-sm-9 {
    width: 90%; }
  .col-sm-10 {
    width: 100%; }
  .col-sm-quarter-1 {
    width: 25%; }
  .col-sm-quarter-2 {
    width: 50%; }
  .col-sm-quarter-3 {
    width: 75%; }
  .col-sm-third-1 {
    width: 33.3333%; }
  .col-sm-third-2 {
    width: 66.6666%; } }

@media screen and (min-width: 861px) {
  .none-lg {
    display: none !important; }
  .col-lg-1 {
    width: 10%; }
  .col-lg-2 {
    width: 20%; }
  .col-lg-3 {
    width: 30%; }
  .col-lg-4 {
    width: 40%; }
  .col-lg-5 {
    width: 50%; }
  .col-lg-6 {
    width: 60%; }
  .col-lg-7 {
    width: 70%; }
  .col-lg-8 {
    width: 80%; }
  .col-lg-9 {
    width: 90%; }
  .col-lg-10 {
    width: 100%; }
  .col-lg-quarter-1 {
    width: 25%; }
  .col-lg-quarter-2 {
    width: 50%; }
  .col-lg-quarter-3 {
    width: 75%; }
  .col-lg-third-1 {
    width: 33.3333%; }
  .col-lg-third-2 {
    width: 66.6666%; } }

.text-align-highlight {
  border: 3px solid #46ffff; }

::-moz-selection, ::selection {
  background-color: #46ffff;
  color: #fff; }

.requirement {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: .4em;
  padding-left: .4em;
  background-color: #ddd; }
  .requirement .triangle {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    bottom: auto;
    left: auto;
    width: 0;
    border-top-width: 0;
    border-bottom-width: 20px;
    border-right-width: 12px;
    border-left-width: 12px;
    border-style: solid;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
    border-right-color: #fff;
    border-left-color: #fff;
    content: ""; }

.right-side {
  padding-left: 20px; }

#memo-form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px; }
  #memo-form .memo-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #02c1cf; }
  #memo-form .sentence-memo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
    #memo-form .sentence-memo .memo-wrapper {
      position: relative;
      padding-right: 20px; }
    #memo-form .sentence-memo .memo-content {
      padding: .4em;
      background-color: #f7f7f7; }
      #memo-form .sentence-memo .memo-content * {
        background-color: #fff;
        border-right: 1px solid #02c1cf;
        border-left: 1px solid #02c1cf; }
      #memo-form .sentence-memo .memo-content *:first-child {
        border-top: 1px solid #02c1cf; }
      #memo-form .sentence-memo .memo-content *:last-child {
        border-bottom: 1px solid #02c1cf; }
    #memo-form .sentence-memo .memo-triangle {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 10px solid #f7f7f7;
      border-left-width: 20px;
      border-right-width: 0;
      border-top-color: transparent;
      border-bottom-color: transparent; }

#translate-form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px; }
  #translate-form .show-requirement, #translate-form .show-full-text {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #02c1cf;
    cursor: pointer; }
  #translate-form .edit-text-wrapper {
    display: inline-block;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%; }
  #translate-form .edit-text-inner {
    box-shadow: 2px 3px 5px #aaa; }
  #translate-form .edit-text-title {
    line-height: 2em;
    padding-right: .4em;
    padding-left: .4em;
    background-color: #fe9797; }
  #translate-form .edit-text {
    padding: .4em;
    min-height: 1.5em;
    background-color: #fff; }
  #translate-form .dummy {
    position: absolute;
    top: 999999%; }
  #translate-form .origin-text-wrapper, #translate-form .trans-text-wrapper {
    position: relative;
    padding: 10px;
    height: 100%;
    background-color: #ddd;
    font-size: 16px; }
    #translate-form .origin-text-wrapper .sentence, #translate-form .trans-text-wrapper .sentence {
      line-height: 1.5em;
      cursor: pointer; }
  #translate-form .opinion-text-wrapper {
    position: relative;
    margin-bottom: 20px;
    border-top: 2px solid #fff; }
    #translate-form .opinion-text-wrapper.unactive {
      background-color: transparent; }
      #translate-form .opinion-text-wrapper.unactive .opinion-text-area {
        background-color: transparent;
        pointer-events: none; }
        #translate-form .opinion-text-wrapper.unactive .opinion-text-area:after {
          display: none; }
        #translate-form .opinion-text-wrapper.unactive .opinion-text-area input {
          color: transparent; }
    #translate-form .opinion-text-wrapper .opinion-title {
      display: inline-block;
      float: right;
      padding-right: .4em;
      padding-left: 1.2em;
      line-height: 1.2em;
      color: #02c1cf;
      background-color: #fff;
      font-size: 20px; }
    #translate-form .opinion-text-wrapper .opinion-text-area {
      position: relative;
      padding-right: 20px;
      min-height: 1.5em;
      overflow-y: hidden; }
      #translate-form .opinion-text-wrapper .opinion-text-area:after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 0;
        border-top-width: 12px;
        border-bottom-width: 12px;
        border-right-width: 0;
        border-left-width: 20px;
        border-style: solid;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-right-color: #ddd;
        border-left-color: #ddd;
        content: " "; }
      #translate-form .opinion-text-wrapper .opinion-text-area textarea {
        padding-top: .2em;
        padding-bottom: .2em;
        padding-right: .4em;
        padding-left: .4em;
        width: 100%;
        line-height: 1.5em;
        background-color: #ddd;
        font-size: 16px; }
  #translate-form .opinion-text-wrapper.unactive .opinion-text-area textarea {
    height: 1.2em;
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0; }
  #translate-form .origin-text-wrapper {
    background-color: #ddd;
    border-bottom: 2px solid #fff; }
    #translate-form .origin-text-wrapper .origin-text-area {
      min-height: 1.5em;
      overflow-y: hidden; }
      #translate-form .origin-text-wrapper .origin-text-area .selected .has-memo {
        background-color: #02c1cf; }
      #translate-form .origin-text-wrapper .origin-text-area .has-memo {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -1em;
        margin: auto;
        width: .6em;
        height: .6em;
        background-color: #fff;
        border: 1px solid #02c1cf;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -khtml-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        content: ' '; }
    #translate-form .origin-text-wrapper .sentence {
      line-height: 1em; }
    #translate-form .origin-text-wrapper .sentence.selected {
      background-color: #46ffff;
      color: #fff; }
  #translate-form .trans-text-wrapper {
    background-color: #ddd;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
    #translate-form .trans-text-wrapper .trans-text-area {
      position: relative;
      overflow-y: hidden; }
    #translate-form .trans-text-wrapper .sentence {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text; }
      #translate-form .trans-text-wrapper .sentence * {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text; }
      #translate-form .trans-text-wrapper .sentence[contenteditable="true"] {
        display: block;
        background-color: #fff;
        border: 1px solid #02c1cf; }
        #translate-form .trans-text-wrapper .sentence[contenteditable="true"] button.add-memo {
          display: inline-block; }
        #translate-form .trans-text-wrapper .sentence[contenteditable="true"] p {
          display: block; }
      #translate-form .trans-text-wrapper .sentence button.add-memo {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em; }
      #translate-form .trans-text-wrapper .sentence p {
        display: inline;
        height: 1.5em; }
      #translate-form .trans-text-wrapper .sentence p:empty:before {
        display: inline;
        color: #efefef;
        content: attr(data-placeholder); }
  #translate-form .additional-wrapper .additional-title {
    color: #02c1cf;
    font-size: 20px; }
  #translate-form .additional-wrapper textarea {
    margin-bottom: 16px;
    width: 100%;
    height: 4em;
    font-size: 16px;
    border: 1px solid #02c1cf; }
  #translate-form .additional-wrapper .additional-option {
    margin-top: 16px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 2em; }
    #translate-form .additional-wrapper .additional-option input[type='radio'] {
      display: none; }
    #translate-form .additional-wrapper .additional-option input[type='radio'] + label {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      color: #02c1cf;
      background-color: #fff;
      border: 1px solid #02c1cf;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -moz-border-radius: 2px;
      -khtml-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      cursor: pointer;
      clear: none; }
      #translate-form .additional-wrapper .additional-option input[type='radio'] + label:hover {
        color: #fff;
        background-color: #02c1cf; }
    #translate-form .additional-wrapper .additional-option input[type='radio']:checked + label {
      color: #fff;
      background-color: #02c1cf; }
  #translate-form .additional-wrapper .submit-wrapper {
    margin-top: 20px; }
    #translate-form .additional-wrapper .submit-wrapper div {
      padding-right: 10px;
      padding-left: 10px; }
    #translate-form .additional-wrapper .submit-wrapper button {
      float: none;
      line-height: 2em;
      color: #02c1cf;
      border: 1px solid #02c1cf;
      font-size: 16px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -khtml-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      #translate-form .additional-wrapper .submit-wrapper button:hover {
        color: #fff;
        background-color: #02c1cf; }

.popup .submit-button-wrapper {
  margin-top: 40px; }
  .popup .submit-button-wrapper button {
    padding-right: 1em;
    padding-left: 1em;
    line-height: 2em;
    color: #fff;
    background-color: #02c1cf;
    border: 1px solid #02c1cf;
    font-size: 16px; }

@media screen and (max-width: 860px) {
  div.popup .detail .left-side {
    width: 20%; }
  div.popup .detail .right-side {
    width: 80%; } }

/***** Global Variables & Mixins *****/
/***** Global Variables & Mixins *****/
/***** Global Variables & Mixins2 *****/
/***** Global Variables & Mixins2 *****/
#translate-folder, #translate-list {
  margin-bottom: 50px; }

#translate-folder {
  display: inline-block;
  float: left;
  padding: 20px;
  width: 20%;
  width: calc(200px);
  background-color: #f8f8f8; }
  #translate-folder .folder-wrapper {
    text-align: center; }
    #translate-folder .folder-wrapper button {
      display: block;
      margin-top: .4em;
      margin-bottom: .4em;
      width: 100%;
      line-height: 2.2em;
      color: #000;
      border: 2px solid #02c1cf;
      font-size: 1.8em;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -khtml-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      #translate-folder .folder-wrapper button:hover, #translate-folder .folder-wrapper button.active {
        color: #fff;
        background-color: #02c1cf;
        -webkit-box-shadow: 2px 2px 3px #000;
        -moz-box-shadow: 2px 2px 3px #000;
        box-shadow: 2px 2px 3px #000; }
      #translate-folder .folder-wrapper button:first-child {
        margin-top: 0; }
    #translate-folder .folder-wrapper hr {
      margin-top: 10px;
      margin-bottom: 25px; }

#translate-list {
  display: inline-block;
  float: left;
  padding-left: 30px;
  width: 80%;
  width: calc(100% - 200px); }
  #translate-list .get-dimed {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5; }
  #translate-list .translate-card-wrapper {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 50%; }
  #translate-list .translate-card {
    background-color: #fff; }
    #translate-list .translate-card .card-header {
      padding-right: 10px;
      padding-left: 10px;
      line-height: 1.8em;
      color: #fff;
      background-color: #9b9b9b;
      font-size: 2.2em;
      overflow: hidden; }
    #translate-list .translate-card .card-container {
      position: relative;
      padding: 10px;
      padding-right: 40px; }
    #translate-list .translate-card .card-content .result-wrapper {
      position: relative; }
    #translate-list .translate-card .card-content img {
      position: relative; }
    #translate-list .translate-card .card-content .user-image {
      width: 60%;
      height: auto;
      z-index: 1; }
    #translate-list .translate-card .card-content .result-image {
      margin-top: -20%;
      margin-bottom: 20%;
      margin-left: 30%;
      width: 40%;
      height: auto;
      z-index: 3; }
    #translate-list .translate-card .card-content .text-info {
      min-width: 110px; }
      #translate-list .translate-card .card-content .text-info .arrow {
        width: 10px;
        height: auto; }
      #translate-list .translate-card .card-content .text-info .text-word-count {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #797979;
        background-color: #f4f4f4;
        font-size: 12px;
        text-align: center; }
      #translate-list .translate-card .card-content .text-info .text-language-information {
        background-color: #f4f4f4; }
      #translate-list .translate-card .card-content .text-info .text-content-type-information {
        background-color: #fafafa; }
      #translate-list .translate-card .card-content .text-info .text-language, #translate-list .translate-card .card-content .text-info .text-content-type {
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 50px;
        color: #797979;
        font-size: 12px;
        text-align: center; }
        #translate-list .translate-card .card-content .text-info .text-language img, #translate-list .translate-card .card-content .text-info .text-content-type img {
          width: auto;
          height: 30px; }
        #translate-list .translate-card .card-content .text-info .text-language p, #translate-list .translate-card .card-content .text-info .text-content-type p {
          margin: 0;
          padding: 0;
          line-height: 1.5em;
          font-size: 8px; }
      #translate-list .translate-card .card-content .text-info .text-language-direction, #translate-list .translate-card .card-content .text-info .text-content-type-blank {
        padding-top: 20px;
        width: 10px; }
    #translate-list .translate-card .talk-balloon {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 40%;
      z-index: 9; }
      #translate-list .translate-card .talk-balloon .talk-balloon-text {
        padding-right: .5em;
        padding-left: .5em;
        line-height: 1.8em;
        color: #fff;
        background-color: #02c1cf;
        font-size: .8em; }
      #translate-list .translate-card .talk-balloon .talk-balloon-triangle {
        position: relative; }
        #translate-list .translate-card .talk-balloon .talk-balloon-triangle div {
          position: absolute;
          right: 40%;
          margin: auto;
          border: 10px solid #02c1cf;
          border-bottom-width: 0;
          border-left-width: 0;
          border-right-color: transparent;
          border-left-color: transparent; }
    #translate-list .translate-card .translate-date {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 1.2em; }
    #translate-list .translate-card .more-info-background {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 30px solid #02c1cf;
      border-top-width: 0;
      border-right-width: 0;
      border-right-color: transparent;
      border-left-color: transparent;
      z-index: 3;
      -o-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #translate-list .translate-card .more-info {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: .5em;
      width: 30px;
      height: 30px;
      line-height: 40px;
      color: #fff;
      font-weight: 900;
      text-align: right;
      z-index: 5;
      cursor: pointer;
      -o-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #translate-list .translate-card .transparent {
      cursor: default;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
  #translate-list .card-function-menu {
    height: 2.4em;
    line-height: 2.4em;
    color: #fff;
    background-color: #02c1cf;
    font-size: 1.8em;
    overflow: hidden;
    -o-transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out; }
    #translate-list .card-function-menu.collapsed {
      height: 0; }
    #translate-list .card-function-menu .move-card, #translate-list .card-function-menu .show-card, #translate-list .card-function-menu .delete-card {
      display: inline-block;
      float: left;
      color: #fff;
      font-size: .8em; }
    #translate-list .card-function-menu .move-card {
      padding-right: 10px;
      padding-left: 10px;
      width: 50%; }
      #translate-list .card-function-menu .move-card select {
        width: 100%;
        color: #fff;
        font-size: 1em;
        border-bottom: 1px solid #fff;
        -o-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -khtml-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        text-align-last: center; }
    #translate-list .card-function-menu .show-card {
      width: 30%;
      cursor: pointer; }
    #translate-list .card-function-menu .delete-card {
      width: 20%; }
      #translate-list .card-function-menu .delete-card button {
        color: #fff; }

.background-tile {
  padding: 20px;
  background-color: #eee; }

.popup .detail .left-side, .popup .detail .right-side {
  display: inline-block;
  position: relative;
  float: left;
  min-height: 1px;
  overflow-x: visible;
  -o-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }

.popup .detail .left-side {
  width: 20%;
  width: calc(200px); }
  .popup .detail .left-side.collapsed {
    width: 0;
    overflow: hidden; }

.popup .detail .right-side {
  width: 80%;
  width: calc(100% - 200px); }
  .popup .detail .right-side.opened {
    width: 100%; }
  .popup .detail .right-side .title {
    font-size: 18px;
    color: #02c1cf; }
  .popup .detail .right-side .left-guidance, .popup .detail .right-side .right-guidance {
    padding-top: 4px; }
  .popup .detail .right-side .left-guidance {
    width: auto; }
  .popup .detail .right-side .right-guidance {
    float: right;
    width: auto; }
  .popup .detail .right-side .color-guide {
    display: inline-block;
    position: relative;
    padding-right: .5em;
    padding-left: .5em;
    height: 2em;
    line-height: 2em;
    color: #fff;
    cursor: pointer;
    /*
      &:before {
        display: inline-block;
        margin-top: .5em;
        margin-right: .2em;
        margin-left: .2em;
        width: 1em;
        height: 1em;
        @include border-radius(3px);
        content: '';
      }
      */ }
    .popup .detail .right-side .color-guide.show-origin-text {
      margin-right: .5em;
      background-color: #000;
      /*
        &:before {
          background-color: #000;
        }
        */ }
    .popup .detail .right-side .color-guide.show-trans-text {
      margin-right: .5em;
      background-color: #02c1cf;
      /*
        &:before {
          background-color: $main-color;
        }
        */ }
    .popup .detail .right-side .color-guide.show-opinion {
      background-color: #0079db;
      /*
        &:before {
          background-color: $blue-color;
        }
        */ }
  .popup .detail .right-side hr {
    margin: 0; }
  .popup .detail .right-side button.fa {
    float: left;
    margin-right: 4px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #0079db !important;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .popup .detail .right-side button.fa.active, .popup .detail .right-side button.fa:hover {
      color: #fff;
      background-color: #0079db; }
  .popup .detail .right-side button.fa.toggle-memo {
    margin-right: 8px; }

.popup .detail .content-paragraph {
  margin-bottom: 40px; }
  .popup .detail .content-paragraph:last-child {
    margin: 0; }
  .popup .detail .content-paragraph .right-side {
    padding-left: 30px; }

.popup .detail .content-sentence span {
  cursor: pointer;
  line-height: 1em; }
  .popup .detail .content-sentence span.selected {
    background-color: #46ffff; }

.popup .detail .origin-paragraph .content-sentence {
  color: #000; }

.popup .detail .trans-paragraph .content-sentence {
  color: #02c1cf; }

.popup .detail .trans-paragraph .content-opinion {
  color: #0079db; }

.popup .detail .origin-paragraph .content-sentence .has-memo, .popup .detail .mix-paragraph .content-sentence .has-memo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -1em;
  margin: auto;
  width: .6em;
  height: .6em;
  background-color: #fff;
  border: 1px solid #02c1cf;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: ' '; }
  .popup .detail .origin-paragraph .content-sentence .has-memo.active, .popup .detail .mix-paragraph .content-sentence .has-memo.active {
    background-color: #02c1cf; }

.popup .detail .origin-paragraph {
  position: relative;
  padding-right: 10px; }

.popup .detail .trans-paragraph {
  padding-left: 10px; }

.popup .detail .mix-paragraph {
  position: relative; }

.popup .detail .sentence-memo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .popup .detail .sentence-memo .memo-wrapper {
    position: relative;
    padding-right: 20px; }
  .popup .detail .sentence-memo .memo-content {
    padding: .4em;
    background-color: #f7f7f7; }
  .popup .detail .sentence-memo .memo-triangle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 10px solid #f7f7f7;
    border-left-width: 20px;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent; }

.popup .detail .split-view .origin-paragraph, .popup .detail .split-view .trans-paragraph {
  width: 50%; }
  .popup .detail .split-view .origin-paragraph .content-opinion, .popup .detail .split-view .trans-paragraph .content-opinion {
    margin-top: 8px; }

.popup .detail .split-view .mix-paragraph {
  display: none; }

.popup .detail .vertical-view .origin-paragraph, .popup .detail .vertical-view .trans-paragraph {
  padding: 0;
  width: 100%; }
  .popup .detail .vertical-view .origin-paragraph .content-opinion, .popup .detail .vertical-view .trans-paragraph .content-opinion {
    margin-top: 8px; }

.popup .detail .vertical-view .mix-paragraph {
  display: none; }

.popup .detail .vertical-view .trans-paragraph {
  padding-top: 8px; }

.popup .detail .sentence-view .origin-paragraph, .popup .detail .sentence-view .trans-paragraph {
  display: none; }

.popup .detail .sentence-view .mix-paragraph {
  width: 100%;
  padding: 0; }

.popup .detail .sentence-view .content-sentence.origin, .popup .detail .sentence-view .content-sentence.trans {
  display: block; }

.popup .detail .sentence-view .content-sentence.origin {
  margin-bottom: 4px;
  color: #000; }

.popup .detail .sentence-view .content-sentence.trans {
  margin-bottom: 8px;
  color: #02c1cf; }

.popup .detail .sentence-view .content-opinion {
  margin-bottom: 8px;
  padding-left: 20px;
  color: #0079db; }

@media screen and (max-width: 860px) {
  #translate-folder {
    display: block;
    width: 100%; }
  #translate-list {
    display: block;
    width: 100%;
    padding-left: 0; }
    #translate-list .translate-card-wrapper {
      width: 100%; } }

@media screen and (max-width: 559px) {
  .popup .detail .right-side .left-guidance {
    width: 100%; }
  .popup .detail .right-side .right-guidance {
    width: 100%; } }
