@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

@media screen{
    *{
        margin: 0px;
    }
    img{
        border: none;
    }
    
    textarea{
        resize: none;
    }
    
    html{
        height:100%;
        width:100%;
        padding:0px;
    }
    
    body *{
        overflow: hidden;
    }
    
    body{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'Dosis', 'Noto Sans KR', sans-serif;
        overflow-x: hidden; 
    }
    
    
    
    .container{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
        overflow: hidden;
        position:  relative;
    }
    
    
    #header{
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        
        transform: translateY(30px);
        height: 30px;
        width: 100%;
        position: fixed;
        background-color: transparent;
        z-index: 150;
        padding: 50px 0px 20px 0px;
        top: -30px;
        left: 0px;
        overflow: visible;
    }
    
    #header.scrolled{
        transform: translateY(0);
        
    }
    
        #header .container{
            overflow: visible;
        }
    
        #header .background{
            width: 100%;
            height: calc(100% + 200px);
            position: absolute;
            background-color: white;
            opacity: 0.9;
            left: 0px;
            top: -200px;
            z-index: -99;
        }
        
        #header #header-left{
            position: absolute;
            left: 0px;
            top: 0px;
            width: auto;
            height: 100%;
            border: none;
            
        }
        
        
        
        #header #header-right{
            position: absolute;
            right: 0px;
            top: 0px;
            width: auto;
            height: 100%;
            overflow: visible;
        }
        
            #header #header-right a{
                height: 20px;
                padding: 5px 20px;
                margin: 0px 10px;
                text-decoration: none;
                color: black;
                display: block;
                float: left;
                cursor: pointer;
            }
                
                #header #header-right a.selected{
                    background-color: #02C1CF;
                    color: white;
                }
                
            #header #header-right #img-header{
                width: 48px;
                height: 48px;
                margin-top: -10px;
                cursor: pointer;
            }
                
        #header #header-profile{
            position: absolute;
            z-index: 99999;
            right: 0px;
            top: 50px;
            width: 280px;
            height: auto;
            color: white;
            font-size: 18px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            
            transform-origin: 90% 0%;
            
            
            
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        
         
        #header #header-profile #header-profile_background{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.8;
            z-index: -99999;
        }
        
        #header #header-profile #img-profile{
                width: 140px;
                height: 140px;
                display: block;
                margin-left: auto;
                margin-right: auto;
        }
        
        #header #header-profile a.selected{
            background-color: #02C1CF;
            color: white;
        }
        
        #header #header-profile hr{
            margin: 20px 10px;
        }
        
        #header #header-profile #header-profile-name{
            width: 100%;
            height: auto;
            display: block;
            font-size: 20px;
            margin-top: 10px;
        }
        
        #header #header-profile .header-profile-button{
            width: 100%;
            height: auto;
            display: block;
            color: white;
            text-decoration: none;
            padding: 7px 0px;
        }
        
        #header #header-profile .header-profile-button:hover{
            opacity: 0.5;
        }
        
        
    .popup{
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
        left: 0px;
        top: 0px;
        
        
        z-index: 999999;
        
    }
    
    
    .popup_background{
        
        opacity: 0.5;
        background-color: black;
        
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: -99999;
        
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .popup.invisible > .popup_background{
        opacity: 0;
        
    }
    .popup .dialog{
        background-color: white;
        border-radius: 10px;
        width: 500px;
        height: auto;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 0% 0%;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        padding: 10px 0px;
    }
    
    .popup.invisible > .dialog{
        transform: scale(0.1);
    }
    
    .popup .dialog .dialog_image{
        width: 100%;
        height: auto;
        position: relative;
        margin: 20px 0px;
    }
    
    .popup .dialog .dialog_image img{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }   
    
    .popup .dialog .dialog_message{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .popup .dialog .dialog_inputText{
        width: calc(100% - 20px);
        padding: 5px;
        margin: 15px 10px;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .popup .dialog .dialog_buttons{
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin: 10px 0px;
    }

    .popup .dialog .dialog_buttons button{
        padding: 7px 20px;
        margin: 5px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
    
    .popup .dialog .dialog_buttons button.negative{
        background-color: #FE9797;
        color: white;
    }
    
    .popup .dialog .dialog_buttons button.positive{
        background-color: #0079DB;
        color: white;
    }
    
    .popup .dialog .dialog_buttons button:hover{
        background-color: #eee;
    }
    
    .popup .dialog .dialog_buttons button.negative:hover{
        background-color: #ED8686;
    }
    
    .popup .dialog .dialog_buttons button.positive:hover{
        background-color: #0068CA;
    }
    
    
    .popup .detail{
        background-color: white;
        border-radius: 2px;
        width: 40%;
        height: auto;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        transform-origin: 0% 0%;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        
        padding: 30px;
        padding-top: 5px;
        
        max-height: 100%;
        overflow-y: auto;
    }
    
    .popup.invisible .detail{
        transform: scale(0.1);
    }
    
    .popup .detail hr{
        margin: 30px 0;
    }
    
    .popup .detail .detail_close{
        
        display: block;
        width: 100%;
        height: auto;
        
    }
    
    .popup .detail .detail_close i{
        float: right;
        cursor: pointer;
    }    
    
    .popup .detail .detail_header{
        width: 100%;
        height: auto;
        position: relative;
        
        display: block;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    
    
    
    .popup .detail .detail_header .detail_header_left{
        float: left;
    }
    
    
    .popup .detail .detail_header .detail_header_right{
        float: right;
    }
    
    .popup .detail .detail_title{
        color: #0079DB;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        height: auto;
        margin: 10px 0px;
        display: block;
    }
    
    .popup .detail .detail_content{
        width: 100%;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        margin: 30px 0px;
        display: block;
    }
    
    .popup .detail .detail_infomations{
        width: 100%;
        height: auto;
        position: relative;
       background-color: #f0f0f0;
    }
    
    .popup .detail .detail_infomation{
        width: 33.3333%;
        height: auto;
        float: left;
        padding: 20px;
        
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .popup .detail .detail_infomations .detail_infomation .detail_infomation_title{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
        color: #888;
        
    }
    
    .popup .detail .detail_infomations .detail_infomation hr{
        height: 1px;
        background-color: lightgray;
        margin: 0;
    }
    
    .popup .detail .detail_infomations .detail_infomation .detail_infomation_icons{
        margin-left: 50%;
        width: 90px;
        transform: translateX(-50%);
    }
    
    .popup .detail .detail_infomations .detail_infomation .detail_infomation_icons .detail_infomation_icon{
        /*background-color: #F5F4F3;*/
        font-size: 12px;
        color: gray;
        margin: 0 5px;
        float: left; text-align: center; padding: 5px 0px;
    }    
    
    .popup .detail .detail_infomations .detail_infomation .detail_infomation_words{
        width: 100%;
        height: auto;
        font-size: 46px;
        font-weight: bold;
        text-align: center;
        display: block;
        color: #888;
    }
    
    
    .popup .imgSetting{
        background-color: white;
        border-radius: 2px;
        width: 400px;
        height: 630px;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        transform-origin: 0% 0%;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        
        padding: 30px;
        padding-top: 5px;
        
        max-height: 100%;
        overflow-y: auto;
    }
    
    .popup.invisible .imgSetting{
        transform: scale(0.1);
    }
    
    
    .popup .imgSetting hr{
        margin: 30px 0;
    }
    
    .popup .imgSetting button{
        padding: 7px 20px;
        margin: 5px;
        background-color: #0079DB;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
    
    .popup .imgSetting button:hover{
        background-color: #0068CA;
    }
    
    .popup .imgSetting .imgSetting_close{
        
        display: block;
        width: 100%;
        height: auto;
        
    }
    
    .popup .imgSetting .imgSetting_close i{
        float: right;
        cursor: pointer;
    }    
    
    .popup .imgSetting .imgSetting_header{
        width: 100%;
        height: auto;
        position: relative;
        
        display: block;
        width: auto;
        height: auto;
        font-size: 20px;
    }
    
    
    
    .popup .imgSetting .imgSetting_header .imgSetting_header_left{
        float: left;
    }
    
    
    .popup .imgSetting .imgSetting_header .imgSetting_header_right{
        float: right;
    }
    
    .popup .imgSetting .imgSetting_title{
        color: #0079DB;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        height: auto;
        margin: 10px 0px;
        display: block;
    }
    
    .popup .imgSetting .imgSetting_content{
        width: 100%;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        margin: 30px 0px;
        display: block;
        overflow: hidden;
    }
    
    .popup .imgSetting .imgSetting_cropDiv{
        width: 300px;
        overflow: hidden;
        height: auto;
        font-weight: 100;
        font-size: 16px;
        margin: 30px 0px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .popup .imgSetting .imgSetting_cropDiv img{
        /*width: 200px;
        height: 200px;*/
    }
    
    .popup .imgSetting .imgSetting_cropDiv .imgSetting_cropInfomation{
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        font-size: 20px;
        font-weight: 100;
        
    }
        

    .img-circle{
        border-radius: 50%;
    }
    
    #wrapper{
        padding-top: 120px;
    }
    
    .div_1-2{
        width: 100%;
        height: auto;
    }
    
    .div_1-3{
        width: 100%;
        height: auto;
    }
    
    
    .paragraph{
        overflow: hidden;
        margin-bottom: 50px;
    }
    
    .bigTitle{
        color: #02C1CF;
        font-size: 48px;
        font-weight: lighter;
        margin-top: 80px;
        margin-bottom: 50px;
        display: block;
        overflow: hidden;
    }
    
    .subject{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
        display: block;
        overflow: hidden;
    }
    
    #frmRequest{
        position: relative;
        width: 100%;
        height: auto;
        overflow: visible;   
    }
    
        #frmRequest .content{
            width: calc(100% - 22px);
            height: 100px;
            padding: 10px;
            margin-top: 20px;
            border: 1px solid gray;
            overflow-y: auto;
        }
        
        #frmRequest .button{
            height: 30px;
            background-color: transparent;
            border: none;
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0px;
            display: inline-block;
            font-weight: lighter;
        }
        
        #frmRequest .language img{
            height: 30px;
            margin-right: 5px;
        }
        
        #frmRequest #setLanguage{
            margin-top: 10px;
        }
        
        #frmRequest .submit{
            padding: 5px 20px;
            color: white;
            font-size: 16px;
            background-color: #08C1CE;
            cursor: pointer;
            border: none;
            margin-bottom: 20px;
        }
        
        .btnRequest{
            padding: 10px 10%;
            color: #08C1CE;
            font-size: 14px;
            background-color: transparent;
            font-weight: bold;
            border: 2px solid #08C1CE;
            cursor: pointer;
        }
        
        .btnRequest:hover{
            background-color: #08C1CE;
            color: white;
        }
    
    #tickets{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #DDD;
        margin: 20px 0px;
        padding: 10px;
        min-height: 300px;
    }
    
    .ticket{
        width: calc(100% - 40px);
        height: auto;
        position: relative;
        background-color: #F7F7F7;
        padding: 10px;
        margin-bottom: 10px;
    }
    
        .ticket .ticket_alert{
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: absolute;
            z-index: 100;
            left: -10px;
            top: -10px;
        }
        
        .ticket .ticket_alert .ticket_alert_background{
            width: 100%;
            height: 100%;
            position: absolute;
            
            opacity: 0.5;
            background-color: black;
        }
        
        .ticket .ticket_alert .ticket_alert_inner{
            width: auto;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 20px;
            text-align: center;
        }
        
        .ticket .ticket_alert .ticket_alert_inner span{
            margin-bottom: 10px;
            display: block;
        }        
        
        .ticket .ticket_alert .ticket_alert_inner button{
            padding: 7px 20px;
            margin: 5px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        
        .ticket .ticket_alert .ticket_alert_inner button.negative{
            background-color: #FE9797;
            color: white;
        }
        
        .ticket .ticket_alert .ticket_alert_inner button.positive{
            background-color: #0079DB;
            color: white;
        }
        
        .ticket .ticket_alert .ticket_alert_inner button:hover{
            background-color: #eee;
        }
        
        .ticket .ticket_alert .ticket_alert_inner button.negative:hover{
            background-color: #ED8686;
        }
        
        .ticket .ticket_alert .ticket_alert_inner button.positive:hover{
            background-color: #0068CA;
        }
        
        .ticket .ticket_header{
            width: 100%;
            height: auto;
            
            position: relative;
        }
        
        .ticket .ticket_content{
            
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 10px;
        }
        
        .ticket .ticket_221_1{
            height: auto;
            position: relative;
        }
        
        .ticket .ticket_221_2{
            height: auto;
            position: relative;
        }
        
        .ticket .ticket_name{
            font-size: 20px;
            font-weight: 500;
        }
        
        .ticket .ticket_type{
            background-color: #0079DB;
            color: white;
            padding: 5px 10px;
            display: inline-block;
            
            text-align: center;
        }
        
        .ticket .ticket_profile{
            margin-right: 20px;            
        }
        
        .ticket .ticket_profile img{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: 1px solid #3d3d3d;
            clear: both;
        }
        
        .ticket .ticket_timeRemaining{
            width: 80px;
            height: auto;
            float: left;
            margin-top: 30px;
        }
            
            .ticket .ticket_timeRemaining p{
                width: 100%;
                font-size: 14px;
                height: auto;
                text-align: center;
            }
            
            .ticket .ticket_timeRemaining :first-child{
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
            }
            
        .ticket .ticket_infomation{
            width: 110px;
            height: auto;
            float: left;
        }
        
            .ticket .ticket_infomation p{
                width: 100%;
                font-size: 14px;
                height: auto;
                text-align: center;
            }
        
            .ticket .ticket_infomation .ticket_language{
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
                float: left; width: calc(50% - 5px); text-align: center; padding: 5px 0px;
                
            }
            .ticket .ticket_infomation .ticket_contentType{
                background-color: transparent;
                font-size: 12px;
                color: gray;
                float: left; width: calc(50% - 5px); text-align: center; padding: 5px 0px;
            }
    
            .ticket .ticket_infomation .ticket_wordCount {
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
                padding: 8px 0px;
            }
            
            .ticket .ticket_contentText{
                width: 100%;
                height: auto;
                overflow-y: inherit;
                display: block;
            }
            .ticket .ticket_contentTextWrap{
                width: 100%;
                height: 135px;
                cursor: pointer;
            }
            
            
            
            
    #folder{
        background-color: #F8F8F8;
        width: 100%;
        height: auto;
        margin: 20px 0px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        
    }
    
    #folder .folder{
        min-height: 50px;
        color: white;
        background-color: #08C1CE;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    #folder .folder .folder_title{
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: transparent;
        border: none;
        color: white;
    }
    
    #folder .folder .folder_delete{
        /*visibility: hidden;
        display: none;*/
        transform: translateX(100%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        
        position: absolute;
        overflow: visible;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        display: block;
        
    }    
    
    #folder .folder.edit .folder_delete{
        transform: translateX(0);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        
        background-color: #ED8686;
    }
    
    #folder .folder .folder_delete i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;
    }    
    
    #folder .folder_add{
        min-height: 50px;
        color: white;
        background-color: #BCEBEE;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 10px;
        
    }
    
    #folder .folder_add .folder_title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    #folder .folder_edit{
        min-height: 35px;
        color: white;
        background-color: #D4D8D8;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    #folder .folder_edit .folder_title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    #folder .folder:hover, #folder .folder_edit:hover, #folder .folder_add:hover{
        border: 2px solid #DDD;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #folder .folder:active, #folder .folder_edit:active, #folder .folder_add:active{
        
        transform: scale(0.95);

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        
        -webkit-transition: all 0.05s ease-in-out;
        -moz-transition: all 0.05s ease-in-out;
        transition: all 0.05s ease-in-out;
    }
    
    #completed{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #DDD;
        margin: 20px 0px;
        padding: 10px;
    }
    
    .completed{
        width: calc(100% - 40px);
        height: auto;
        position: relative;
        background-color: #F8F8F8;
        padding: 10px;
        margin-bottom: 10px;
    }
    
        .completed .completed_header{
            width: 100%;
            height: auto;
            
            position: relative;
        }
        
        .completed .completed_content{
            
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 10px;
        }
        
        .completed .completed_121_1{
            height: auto;
            position: relative;
        }
        
        .completed .completed_121_2{
            height: auto;
            position: relative;
        }
        
        .completed .completed_name{
            font-size: 20px;
            font-weight: 500;
        }
        
        .completed .completed_type{
            background-color: transparent;
            color: #08C1CE;
            font-size: 24px;
            display: inline-block;
            
            text-align: center;
        }
        
        .completed .completed_button{
            background-color: #748182;
            color: white;
            width: 100%;
            display: inline-block;
            cursor: pointer;
            text-align: center;
        }
        
        .completed .completed_timeRemaining{
            width: 80px;
            height: auto;
            float: left;
            margin-top: 30px;
        }
            
            .completed .completed_timeRemaining p{
                width: 100%;
                font-size: 14px;
                height: auto;
                text-align: center;
            }
            
            .completed .completed_timeRemaining :first-child{
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
            }
            
        .completed .completed_infomation{
            width: 110px;
            height: auto;
            float: left;
        }
        
            .completed .completed_infomation p{
                width: 100%;
                font-size: 14px;
                height: auto;
                text-align: center;
            }
        
            .completed .completed_infomation .completed_language{
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
                float: left; width: calc(50% - 5px); text-align: center; padding: 5px 0px;
                
            }
            .completed .completed_infomation .completed_contentType{
                background-color: transparent;
                font-size: 12px;
                color: gray;
                float: left; width: calc(50% - 5px); text-align: center; padding: 5px 0px;
            }
    
            .completed .completed_infomation .completed_wordCount {
                background-color: #F5F4F3;
                font-size: 12px;
                color: gray;
                padding: 8px 0px;
            }
            
            .completed .completed_contentTitle{
                width: 100%;
                height: auto;
                display: block;
                font-size: 24px;
                margin-bottom: 40px;
                font-weight: 200;
            }
            
            .completed .completed_contentText{
                width: 100%;
                height: auto;
                overflow-y: inherit;
                display: block;
            }
            .completed .completed_contentTextWrap{
                width: 100%;
                height: 80px;
                cursor: pointer;
            }
            
    
    .mypage{
        width: 80%;
        height: auto;
        margin-left: 10%;
        position: relative;
        margin-bottom: 50px;
    }        
            
                
        .mypage .mypage_image_div{
            width: 200px;
            height: 200px;
            margin-left: 50%;
            transform: translateX(-50%);
            display: block;
            background-color: transparent;
            cursor: pointer;
        }
        
            .mypage .mypage_image_div .mypage_image_img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid #ccc;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .mypage .mypage_image_div .mypage_image_edit{
                position: absolute;
                right: 10px;
                bottom: 0px;
                font-size: 24px;
                color: #333;
            }
        
        
        
        .mypage .mypage_email{
            width: 100%;
            height: auto;
            display: block;
            margin: 30px 0px;
            text-align: center;
            color: #333;
            font-size: 22px;
        }
        
        .mypage .mypage_detail{
            width: 100%;
            height: auto;
            position: relative;
            
        }
            
            .mypage .mypage_detail .mypage_detail_row{
                width: 100%;
                height: auto;
                position: relative;
                border-bottom: 1px solid #eee;
            }
        
            .mypage .mypage_detail .mypage_detail_row .mypage_detail_left{
                float: left;
                width: 150px;
                height: auto;
                padding: 20px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                font-weight: 500;
            }
            
            .mypage .mypage_detail .mypage_detail_row .mypage_detail_right{
                float: left;
                clear: right;
                width: calc(100% - 150px);
                height: auto;
                padding: 20px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .mypage .mypage_detail .mypage_detail_row .mypage_detail_button{
                width: auto;
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                border: none;
                color: #aaa;
                font-weight: bold;
                background-color: transparent;
                cursor: pointer;
            }
                .mypage .mypage_detail .mypage_detail_row .mypage_detail_button i{
                    
                    font-weight: 400;
                }


    
    
    #content_textArea{
        width: 100%;
        height: auto;
        min-height: 500px;
        border: 1px solid #aaa;
        margin: 0px;
        padding: 20px;
        font-size: 16px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #context_textArea{
        width: 100%;
        height: 200px;
        min-height: 200px;
        border: 1px solid #aaa;
        margin: 0px;
        padding: 20px;
        font-size: 16px;
        overflow-y: auto;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #selectLanguageFrom{
        float: left;
    }
    #selectLanguageTo{
        float: left;
        margin-left: 10px;
    }
    
    #selectLanguageFrom .dd-pointer,
    #selectLanguageTo .dd-pointer{
        display: none;
    }
    
    #selectFormat, #selectField{
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
    }
    
    
    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        overflow: initial;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: grey;
        border-radius: 22px;
        border: 0px solid #000101;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #08C1CE;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: grey;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: grey;
        border-radius: 22px;
        border: 0px solid #000101;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #08C1CE;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: grey;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type=range]::-ms-fill-upper {
        background: grey;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #08C1CE;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: grey;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: grey;
    }
    
    .priceMin{
        font-size: 12px;
        color: #3d3d3d;
    }
    
    #price{
        font-size: 24px;
        width: 100%;
        height: 50px;
        margin-top: 30px;
        text-align: center;
        color: #3d3d3d;
    }
    
    #price span{
        border-bottom: 1px solid #3d3d3d;
        margin-bottom: -5px;
        padding-bottom: 4px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #price input{
        border: none;
        font-size: 16px;
        width: 50px;
        
    }
    
    #notification{
        width: 100%;
        height: auto;
        background-color: transparent;
    }
    
    #notification hr{
        width: 100%;
        border-color:  #08C1CE;
        margin: 10px 0px;
    }
    
    .notification{
        width: calc(100% - 20px);
        height: auto;
        padding: 10px;
        background-color: #0079DB;
        color: white;
        
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .notification .notification_content{
        width: calc(100% - 50px);
        height: auto;
        text-align: center;
        padding-top: 8px;
        float: left;
    }
    .notification .notification_close{
        width: 50px;
        height: auto;
        text-align: center;
        float: left;
        cursor: pointer;
    }
    
    #unread{
        width: 100%;
        height: auto;
        position: relative;
        
    }
    
    #read{
        width: 100%;
        height: auto;
        position: relative;
        
    }
    
    .notification2{
        width: calc(100% - 20px);
        height: 100px;
        padding: 10px;
        background-color: #eee;
        
        border-radius: 5px;
        margin: 5px 0px;
        
        position: relative;
    }
    
    .notification2 .notification_unread{
        color: #0079DB;
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 12px;
        overflow: visible;
    }
    
    #read .notification2 .notification_unread{
        visibility: hidden;
        display: none;
    }
    
    .notification2 .notification_icon{
        width: 120px;
        height: 100%;
        display: block;
        position: relative;
    }
    
    .notification2 .notification_icon img{
        border-radius: 50%;
        width: 78px;
        height: 78px;
        border: 1px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }    
    
    .notification2 .notification_content{
        width: calc(100% - 120px);
        height: auto;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 120px;
        transform: translateY(-50%);
    }
    
    .notification2 .notification_time{
        font-size: 12px;
        display: inline-block;
        color: #748182;
        width: 100%;
    }
    .notification2 .notification_text{
        font-size: 16px;
        display: inline-block;
        color: #3d3d3d;
        width: 100%;
        
        
    }
            
    
    #footer{
/*         width: 100%; */
        background-color: #F5F4F3;
    }
    
    
	.footer_logo{
		width: 100px;
	}
	.footer_left{
		float: left;
		width: 60%;
	}
	.footer_middle{
		float: left;
		width: 13%;

	}
	.footer_middle_2{
		float: left;
		width: 12%;
	}
	.footer_right{
		width: 15%;
		float: left;
	}
	.footer_bottom{
		width: 100%;
		text-align: center;
		float: left;
		padding-bottom: 30px;
	}
	
	.footer_img{
		padding-top: 30px;
	}
	
	.brtag{
		padding-top: 5px;
	}
	
	.brtag_up{
		padding-top: 25px;
	}
	
	.brtag_down{
		padding-bottom: 25px;
	}
		
	#footer .spantag{
		font-size: small;
	}
	
	
	.select{
		background: transparent;
		padding: 5px;
		font-family: 'Dosis', 'Noto Sans KR', sans-serif;
		line-height: 1;
		border: 0;
		border-radius: 0;
	}    
    .left{
        text-align: left;
    }
    .center{
        text-align: center;
    }
    .right{
        text-align: right;
    }
    .clear{
        clear: both;
    }
    
    .invisible{
        transform: scale(0);
        opacity: 0;
    }
    
    .visible1024{
        visibility: hidden;
        display: none;
    }
    
    .dd-container{
        position: initial !important;
    }
}
@media screen and (max-width:860px){
    
    #header{
        transform: translateY(0);
    }
    
        #header #header-left{
            opacity: 0;
        }
    
    #wrapper{
        padding-top: 80px;
    }
    
    .bigTitle{
        margin-top: 0;
        margin-bottom: 0px;
        padding-top: 0;
        position: fixed;
        top: 17px;
        font-weight: bold;
        font-size: 24px;
        left: 2px;
        z-index: 9999;
    }
    
    
    
    .div_1-2 .div_1-2_1{
        width: 100%;
        height: auto;
        clear: left;
    }
        .div_1-2 .div_1-2_1 .paragraph{
            width: 280px;
            height: auto;
            float: left;
        }
    
    
    .div_1-2 .div_1-2_2{
        width: 100%;
        height: auto;
        clear: left;
    }
    
    .div_1-3 .div_1-3_1{
        width: 100%;
        height: auto;
        clear: left;
    }
        .div_1-3 .div_1-3_1 .paragraph{
            width: 280px;
            height: auto;
            float: left;
        }
    
    
    .div_1-3 .div_1-3_3{
        width: 100%;
        height: auto;
        clear: left;
    }
    
    
    .ticket .ticket_221_1{
        width: 100%;
        float: none;
    }
    
    .ticket .ticket_221_2{
        width: 100%;                    
        float: none;
    }
    
    .ticket .ticket_header .ticket_221_1{
        width: auto;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    
    .invisible1024{
        display: none;
        visibility: hidden;
    }
    
    .visible1024{
        visibility: visible;
        display: block;
    }
    
    .popup .detail{
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    
    .popup .dialog{
        
        width: 100%;
        height: auto;
        overflow-y: auto;
    }

    .footer_left{
		float: none;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.footer_middle{
		float: none;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.footer_middle_2{
		float: none;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.footer_right{
		float: none;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.footer_bottom{
		float: none;
		text-align: center;
	}

}

@media screen and (max-width:559px){
    .div_1-2 .div_1-2_1{
        width: 100%;
        height: auto;
        clear: left;
    }
        .div_1-2 .div_1-2_1 .paragraph{
            width: 100%;
            height: auto;
            float: left;
        }
        
        .div_1-2 .div_1-2_1 .paragraph .dd-container{
            width: 100%;
            height: auto;
            float: left;
        }
        
        
    
    
    .div_1-2 .div_1-2_2{
        width: 100%;
        height: auto;
        clear: left;
    }
    
    .div_1-3 .div_1-3_1{
        width: 100%;
        height: auto;
        clear: left;
    }
        .div_1-3 .div_1-3_1 .paragraph{
            width: 100%;
            height: auto;
            float: left;
        }
    
    
    .div_1-3 .div_1-3_1{
        width: 100%;
        height: auto;
        clear: left;
    }
    
    #header #header-profile{
        width: 100%;
        height: auto;
        
    }
    
    #header #header-profile #header-profile-container{
        background-color: black;
    }
    #header #header-profile #header-profile_background{
        background-color: transparent;
    }
}


@media screen and (min-width:861px){
    
    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    
    .div_1-2 .div_1-2_1{
        width: calc(33.3333% - 10px);
        margin-right: 10px;
        height: auto;
        float: left;
    }
    
        .div_1-2 .div_1-2_1 .paragraph{
            max-width: 266px;
        }
    
    
    .div_1-2 .div_1-2_2{
        width: 66.6666%;
        height: auto;
        float: left;
    }

    .div_1-3 .div_1-3_1{
        width: 25%;
        height: auto;
        float: left;
    }
    
    .div_1-3 .div_1-3_3{
        width: 75%;
        height: auto;
        float: left;
    }


    .ticket .ticket_221_1{
        width: 20%;
        float: left;
    }
    
    .ticket .ticket_221_2{
        width: 40%;
        float: left;
    }
    
    
    .completed .completed_121_1{
        width: 150px;
        float: left;
    }
    
    .completed .completed_121_2{
        width: calc(100% - 300px);
        float: left;
    }
    
    .popup .detail{
        width: 90%;
    }
    
    
}
@media screen and (min-width:1024px){
    .container{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .popup .detail{
        width: 820px;
    }
}
