/***** Global Variables & Mixins *****/
$main-color: #02c1cf;
$sub-color: #08c1ce;
$blue-color: #0079db;
$blue-hover-color: #0068CA;
$red-color: #fe9797;
$list-height: 30px;
$profile-image-border-color: #ccc;
$ticket-header-height: 38px;
$footer-background-color: #f5f4f3;
$ticket-background-color: #f7f7f7;
$ticket-background-darker-color: #f4f4f4;
$ticket-background-lighter-color: #fafafa;
$translate-button-color: #23c1cd;
$translate-button-hover-color: #23c1cd;
$cart-button-color: #6ea9d7;
$cart-button-hover-color: #6ea9d7;
$highlight-color: #46ffff;

@mixin transition-duration($duration) {
  -o-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

@mixin transition-collapsing($duration) {
  -o-transition: height $duration ease-in-out;
  -moz-transition: height $duration ease-in-out;
  -webkit-transition: height $duration ease-in-out;
  transition: height $duration ease-in-out;
}

@mixin transition-collapsing-width($duration) {
  -o-transition: width $duration ease-in-out;
  -moz-transition: width $duration ease-in-out;
  -webkit-transition: width $duration ease-in-out;
  transition: width $duration ease-in-out;
}

@mixin img-circle {
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@mixin border-radius($rad-value) {
  -o-border-radius: $rad-value;
  -ms-border-radius: $rad-value;
  -moz-border-radius: $rad-value;
  -khtml-border-radius: $rad-value;
  -webkit-border-radius: $rad-value;
  border-radius: $rad-value;
}

@mixin appearance($apperance) {
  -o-appearance: $apperance;
  -ms-progress-appearance: $apperance;
  -moz-appearance: $apperance;
  -khtml-appearance: $apperance;
  -webkit-appearance: $apperance;
  appearance: $apperance;
}

@mixin transform-scale($value1, $value2) {
  -ms-transform: scale($value1, $value2);
  -webkit-transform: scale($value1, $value2);
  transform: scale($value1, $value2);
}

@mixin transform-translate($value1, $value2) {
  -ms-transform: translate($value1, $value2);
  -webkit-transform: translate($value1, $value2);
  transform: translate($value1, $value2);
}

@mixin transform-origin($value) {
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  transform-origin: $value;
}

@mixin transparent {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@mixin transparent-important {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
}

@mixin dim {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}

@mixin not-opacity {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: .99;
}
/***** Global Variables & Mixins *****/
/***** Global Variables & Mixins2 *****/
$folder-width: calc(200px);
$list-width: calc(100% - 200px);
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
$left-width: calc(200px);
$right-width: calc(100% - 200px);
/***** Global Variables & Mixins2 *****/

#translate-folder, #translate-list {
  margin-bottom: 50px;
}

#translate-folder {
  display: inline-block;
  float: left;
  padding: 20px;
  width: 20%;
  width: $folder-width;
  background-color: #f8f8f8;
  .folder-wrapper {
    text-align: center;
    button {
      display: block;
      margin-top: .4em;
      margin-bottom: .4em;
      width: 100%;
      line-height: 2.2em;
      color: #000;
      border: 2px solid $main-color;
      font-size: 1.8em;
      @include border-radius(4px);
      &:hover, &.active {
        color: #fff;
        background-color: $main-color;
        @include box-shadow(2px 2px 3px #000);
      }
      &:first-child {
        margin-top: 0;
      }
    }
    hr {
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
}

#translate-list {
  display: inline-block;
  float: left;
  padding-left: 30px;
  width: 80%;
  width: $list-width;
  .get-dimed {
    @include dim;
  }
  .translate-card-wrapper {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 50%;
  }
  .translate-card {
    background-color: #fff;
    .card-header {
      padding-right: 10px;
      padding-left: 10px;
      line-height: 1.8em;
      color: #fff;
      background-color: #9b9b9b;
      font-size: 2.2em;
      overflow: hidden;
    }
    .card-container {
      position: relative;
      padding: 10px;
      padding-right: 40px;
    }
    .card-content {
      .user-info {
      }
      .result-wrapper {
        position: relative;
      }
      img {
        position: relative;
      }
      .user-image {
        width: 60%;
        height: auto;
        z-index: 1;
      }
      .result-image {
        margin-top: -20%;
        margin-bottom: 20%;
        margin-left: 30%;
        width: 40%;
        height: auto;
        z-index: 3;
      }
      .text-info {
        min-width: 110px;
        .arrow {
          width: 10px;
          height: auto;
        }
        .text-word-count {
          padding-top: 8px;
          padding-bottom: 8px;
          color: #797979;
          background-color: $ticket-background-darker-color;
          font-size: 12px;
          text-align: center;
        }
        .text-language-information {
          background-color: $ticket-background-darker-color;
        }
        .text-content-type-information {
          background-color: $ticket-background-lighter-color;
        }
        .text-language, .text-content-type {
          display: inline-block;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 50px;
          color: #797979;
          font-size: 12px;
          text-align: center;
          img {
            width: auto;
            height: 30px;
          }
          p {
            margin: 0;
            padding: 0;
            line-height: 1.5em;
            font-size: 8px;
          }
        }
        .text-language-direction, .text-content-type-blank {
          padding-top: 20px;
          width: 10px;
        }
      }
    }
    .talk-balloon {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 40%;
      z-index: 9;
      .talk-balloon-text {
        padding-right: .5em;
        padding-left: .5em;
        line-height: 1.8em;
        color: #fff;
        background-color: $main-color;
        font-size: .8em;
      }
      .talk-balloon-triangle {
        position: relative;
        div {
          position: absolute;
          right: 40%;
          margin: auto;
          border: 10px solid $main-color;
          border-bottom-width: 0;
          border-left-width: 0;
          border-right-color: transparent;
          border-left-color: transparent;
        }
      }
    }
    .translate-date {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 1.2em;
    }
    .more-info-background {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 30px solid $main-color;
      border-top-width: 0;
      border-right-width: 0;
      border-right-color: transparent;
      border-left-color: transparent;
      z-index: 3;
      @include transition-duration(.4s);
    }
    .more-info {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: .5em;
      width: 30px;
      height: 30px;
      line-height: 40px;
      color: #fff;
      font-weight: 900;
      text-align: right;
      z-index: 5;
      cursor: pointer;
      @include transition-duration(.4s);
    }
    .transparent {
      cursor: default;
      @include transparent;
    }
  }
  .card-function-menu {
    height: 2.4em;
    line-height: 2.4em;
    color: #fff;
    background-color: $main-color;
    font-size: 1.8em;
    overflow: hidden;
    @include transition-collapsing(.4s);
    &.collapsed {
      height: 0;
    }
    .move-card, .show-card, .delete-card {
      display: inline-block;
      float: left;
      color: #fff;
      font-size: .8em;
    }
    .move-card {
      padding-right: 10px;
      padding-left: 10px;
      width: 50%;
      select {
        width: 100%;
        color: #fff;
        font-size: 1em;
        border-bottom: 1px solid #fff;
        @include border-radius(0);
        text-align-last: center;
      }
    }
    .show-card {
      width: 30%;
      cursor: pointer;
    }
    .delete-card {
      width: 20%;
      button {
        color: #fff;
      }
    }
  }
}

.background-tile {
  padding: 20px;
  background-color: #eee;
}

.popup .detail {
  .left-side, .right-side {
    display: inline-block;
    position: relative;
    float: left;
    min-height: 1px;
    overflow-x: visible;
    @include transition-collapsing-width(.4s);
  }
  .left-side {
    width: 20%;
    width: $left-width;
    &.collapsed {
      width: 0;
      overflow: hidden;
    }
  }
  .right-side {
    width: 80%;
    width: $right-width;
    &.opened {
      width: 100%;
    }
    .title {
      font-size: 18px;
      color: $main-color;
    }
    .left-guidance, .right-guidance {
      padding-top: 4px;
    }
    .left-guidance {
      width: auto;
    }
    .right-guidance {
      float: right;
      width: auto;
    }
    .color-guide {
      display: inline-block;
      position: relative;
      padding-right: .5em;
      padding-left: .5em;
      height: 2em;
      line-height: 2em;
      color: #fff;
      cursor: pointer;
      /*
      &:before {
        display: inline-block;
        margin-top: .5em;
        margin-right: .2em;
        margin-left: .2em;
        width: 1em;
        height: 1em;
        @include border-radius(3px);
        content: '';
      }
      */
      &.show-origin-text {
        margin-right: .5em;
        background-color: #000;
        // color: #000;
        /*
        &:before {
          background-color: #000;
        }
        */
      }
      &.show-trans-text {
        margin-right: .5em;
        background-color: $main-color;
        // color: $main-color;
        /*
        &:before {
          background-color: $main-color;
        }
        */
      }
      &.show-opinion {
        background-color: $blue-color;
        // color: $blue-color;
        /*
        &:before {
          background-color: $blue-color;
        }
        */
      }
    }
    hr {
      margin: 0;
    }
    button.fa {
      float: left;
      margin-right: 4px;
      width: 2em;
      height: 2em;
      line-height: 2em;
      background-color: #fff;
      font-size: 16px;
      border: 1px solid $blue-color !important;
      @include border-radius(4px);
      &.active, &:hover {
        color: #fff;
        background-color: $blue-color;
      }
    }
    button.fa.toggle-memo {
      margin-right: 8px;
    }
    .show-split {
    }
    .show-vertical {
    }
    .show-sentence {
    }
  }
  .content-paragraph {
    margin-bottom: 40px;
    &:last-child {
      margin: 0;
    }
    .right-side {
      padding-left: 30px;
    }
  }
  .content-sentence {
    // position: relative;
    span {
      cursor: pointer;
      line-height: 1em;
      &.selected {
        // display: inline-block;
        background-color: $highlight-color;
      }
    }
  }
  .origin-paragraph .content-sentence {
    color: #000;
  }
  .trans-paragraph .content-sentence {
    color: $main-color;
  }
  .trans-paragraph .content-opinion {
    color: $blue-color;
  }
  .origin-paragraph .content-sentence, .mix-paragraph .content-sentence {
    .has-memo {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1em;
      margin: auto;
      width: .6em;
      height: .6em;
      background-color: #fff;
      border: 1px solid $main-color;
      @include border-radius(50%);
      content: ' ';
      &.active {
        background-color: $main-color;
      }
    }
  }
  .origin-paragraph {
    position: relative;
    padding-right: 10px;
  }
  .trans-paragraph {
    padding-left: 10px;
  }
  .mix-paragraph {
    position: relative;
  }
  .sentence-memo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .memo-wrapper {
      position: relative;
      padding-right: 20px;
    }
    .memo-content {
      padding: .4em;
      background-color: #f7f7f7;
    }
    .memo-triangle {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 10px solid #f7f7f7;
      border-left-width: 20px;
      border-right-width: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.popup .detail .split-view {
  .origin-paragraph, .trans-paragraph {
    width: 50%;
    .content-opinion {
      margin-top: 8px;
    }
  }
  .mix-paragraph {
    display: none;
  }
}

.popup .detail .vertical-view {
  .origin-paragraph, .trans-paragraph {
    padding: 0;
    width: 100%;
    .content-opinion {
      margin-top: 8px;
    }
  }
  .mix-paragraph {
    display: none;
  }
  .trans-paragraph {
    padding-top: 8px;
  }
}

.popup .detail .sentence-view {
  .origin-paragraph, .trans-paragraph {
    display: none;
  }
  .mix-paragraph {
    width: 100%;
    padding: 0;
  }
  .content-sentence {
    &.origin, &.trans {
      display: block;
    }
  }
  .content-sentence.origin {
    margin-bottom: 4px;
    color: #000;
  }
  .content-sentence.trans {
    margin-bottom: 8px;
    color: $main-color;
  }
  .content-opinion {
    margin-bottom: 8px;
    padding-left: 20px;
    color: $blue-color;
  }
}

@media screen and (max-width: 860px) {
  #translate-folder {
    display: block;
    width: 100%;
  }

  #translate-list {
    display: block;
    width: 100%;
    padding-left: 0;
    .translate-card-wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 559px) {
  .popup .detail .right-side {
    .left-guidance {
      width: 100%;
    }
    .right-guidance {
      width: 100%;
    }
  }
}

