$main-color: #02c1cf;
$sub-color: #08c1ce;
$blue-color: #0079db;
$blue-hover-color: #0068CA;
$red-color: #fe9797;
$list-height: 30px;
$profile-image-border-color: #ccc;
$ticket-header-height: 38px;
$footer-background-color: #f5f4f3;
$triangle-width: 20px;
$minus-triangle-width: -20px;
$highlight-color: #46ffff;

@mixin transform-translate($value1, $value2) {
  -ms-transform: translate($value1, $value2);
  -webkit-transform: translate($value1, $value2);
  transform: translate($value1, $value2);
}

@mixin border-radius($rad-value) {
  -o-border-radius: $rad-value;
  -ms-border-radius: $rad-value;
  -moz-border-radius: $rad-value;
  -khtml-border-radius: $rad-value;
  -webkit-border-radius: $rad-value;
  border-radius: $rad-value;
}

@mixin transparent {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.text-align-highlight {
  border: 3px solid $highlight-color;
}

::-moz-selection, ::selection {
  background-color: $highlight-color;
  color: #fff;
}

.requirement {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: .4em;
  padding-left: .4em;
  background-color: #ddd;
  .triangle {
    display: block;
    position: absolute;
    top: $minus-triangle-width;
    right: 0;
    bottom: auto;
    left: auto;
    width: 0;
    border-top-width: 0;
    border-bottom-width: $triangle-width;
    border-right-width: 12px;
    border-left-width: 12px;
    border-style: solid;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
    border-right-color: #fff;
    border-left-color: #fff;
    content: "";
  }
}

.right-side {
  padding-left: 20px;
}

.left-side {

}

#memo-form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  .memo-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: $main-color;
  }
  .sentence-memo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .memo-wrapper {
      position: relative;
      padding-right: 20px;
    }
    .memo-content {
      padding: .4em;
      background-color: #f7f7f7;
      * {
        background-color: #fff;
        border-right: 1px solid $main-color;
        border-left: 1px solid $main-color;
      }
      *:first-child {
        border-top: 1px solid $main-color;
      }
      *:last-child {
        border-bottom: 1px solid $main-color;
      }
    }
    .memo-triangle {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 10px solid #f7f7f7;
      border-left-width: 20px;
      border-right-width: 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

#translate-form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  .show-requirement, .show-full-text {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: $main-color;
    cursor: pointer;
  }
  .edit-text-wrapper {
    display: inline-block;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
  .edit-text-inner {
    box-shadow: 2px 3px 5px #aaa;
  }
  .edit-text-title {
    line-height: 2em;
    padding-right: .4em;
    padding-left: .4em;
    background-color: $red-color;
  }
  .edit-text {
    padding: .4em;
    min-height: 1.5em;
    background-color: #fff;
  }
  .dummy {
    position: absolute;
    top: 999999%;
  }
  .origin-text-wrapper, .trans-text-wrapper {
    position: relative;
    padding: 10px;
    height: 100%;
    background-color: #ddd;
    font-size: 16px;
    .sentence {
      line-height: 1.5em;
      cursor: pointer;
    }
  }
  .opinion-text-wrapper {
    position: relative;
    margin-bottom: 20px;
    // background-color: #ddd;
    border-top: 2px solid #fff;
    &:last-child {
      // margin-bottom: 20px;
    }
    &.unactive {
      background-color: transparent;
      .opinion-text-area {
        background-color: transparent;
        pointer-events: none;
        &:after {
          display: none;
        }
        input {
          color: transparent;
        }
      }
    }
    .opinion-title {
      display: inline-block;
      float: right;
      padding-right: .4em;
      padding-left: 1.2em;
      line-height: 1.2em;
      color: $main-color;
      background-color: #fff;
      font-size: 20px;
    }
    .opinion-text-area {
      position: relative;
      padding-right: 20px;
      min-height: 1.5em;
      overflow-y: hidden;
      &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 0;
        border-top-width: 12px;
        border-bottom-width: 12px;
        border-right-width: 0;
        border-left-width: $triangle-width;
        border-style: solid;
        border-top-color: #fff;
        border-bottom-color: #fff;
        border-right-color: #ddd;
        border-left-color: #ddd;
        content: " ";
      }
      textarea {
        padding-top: .2em;
        padding-bottom: .2em;
        padding-right: .4em;
        padding-left: .4em;
        width: 100%;
        line-height: 1.5em;
        background-color: #ddd;
        font-size: 16px;
      }
    }
  }
  .opinion-text-wrapper.unactive .opinion-text-area textarea {
    height: 1.2em;
    background-color: transparent;
    @include transparent;
  }
  .origin-text-wrapper {
    background-color: #ddd;
    border-bottom: 2px solid #fff;
    .origin-text-area {
      min-height: 1.5em;
      overflow-y: hidden;
      .selected .has-memo {
        background-color: $main-color;
      }
      .has-memo {
        display: inline-block;
        position: absolute;
        top: 0;
        left: -1em;
        margin: auto;
        width: .6em;
        height: .6em;
        background-color: #fff;
        border: 1px solid $main-color;
        @include border-radius(50%);
        content: ' ';
      }
    }
    .sentence {
      line-height: 1em;
    }
    .sentence.selected {
      background-color: $highlight-color;
      color: #fff;
    }
  }
  .trans-text-wrapper {
    background-color: #ddd;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    .trans-text-area {
      position: relative;
      overflow-y: hidden;
    }
    .sentence {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      * {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
      &[contenteditable="true"] {
        display: block;
        background-color: #fff;
        border: 1px solid $main-color;
        button.add-memo {
          display: inline-block;
        }
        p {
          display: block;
        }
      }
      button.add-memo {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
      }
      p {
        display: inline;
        height: 1.5em;
      }
      p:empty:before {
        display: inline;
        color: #efefef;
        content: attr(data-placeholder);
      }
    }
  }
  .additional-wrapper {
    .additional-title {
      color: $main-color;
      font-size: 20px;
    }
    textarea {
      margin-bottom: 16px;
      width: 100%;
      height: 4em;
      font-size: 16px;
      border: 1px solid $main-color;
    }
    .additional-option {
      margin-top: 16px;
      padding-right: 10px;
      padding-left: 10px;
      line-height: 2em;
      input[type='radio'] {
        display: none;
      }
      input[type='radio'] + label {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        color: $main-color;
        background-color: #fff;
        border: 1px solid $main-color;
        @include border-radius(2px);
        cursor: pointer;
        clear: none;
        &:hover {
          color: #fff;
          background-color: $main-color;
        }
      }
      input[type='radio']:checked + label {
        color: #fff;
        background-color: $main-color;
      }
    }
    .submit-wrapper {
      margin-top: 20px;
      div {
        padding-right: 10px;
        padding-left: 10px;
      }
      button {
        float: none;
        line-height: 2em;
        color: $main-color;
        border: 1px solid $main-color;
        font-size: 16px;
        @include border-radius(4px);
        &:hover {
          color: #fff;
          background-color: $main-color;
        }
      }
    }
  }
}

.popup .submit-button-wrapper {
  margin-top: 40px;
  button {
    padding-right: 1em;
    padding-left: 1em;
    line-height: 2em;
    color: #fff;
    background-color: $main-color;
    border: 1px solid $main-color;
    font-size: 16px;
  }
}

@media screen and (max-width: 559px) {
}

@media screen and (max-width: 860px) {
  div.popup .detail .left-side {
    width: 20%;
  }
  div.popup .detail .right-side {
    width: 80%;
  }
}

@media screen and (min-width: 861px) {
}
