<div class="popup" id="popup-1">
  <div class="popup-dim"></div>
  <div class="detail">
    <div class="detail-close text-right">
      <button class="close-popup rm-button-style">
        <i class="icon ion-ios-close-empty fa-4x"></i>
      </button>
    </div>
    <div class="detail-header clearfix">
      <div class="left-side"></div>
      <div class="right-side">
        <span class="title">번역문</span>
        <hr />
        <div class="left-guidance col-lg-5 col-sm-10 clearfix">
          <button class="toggle-memo fa fa-youtube rm-button-style"></button>
          <button class="show-split fa fa-facebook rm-button-style"></button>
          <button class="show-vertical fa fa-twitter rm-button-style"></button>
          <button class="show-sentence fa fa-pinterest rm-button-style"></button>
        </div>
        <div class="right-guidance col-lg-5 col-sm-10 text-right clearfix">
          <div class="color-guide show-origin-text">원문보기</div>
          <div class="color-guide show-trans-text">본문보기</div>
          <div class="color-guide show-opinion">문단견해</div>
        </div>
      </div>
    </div>
    <div class="detail-content split-view clearfix">
      <div class="content-paragraph clearfix">
        <div class="left-side">
          <div class="sentence-memo none" data-seq-id="1-1">
            <div class="memo-wrapper">
              <div class="memo-content">메모 - 1 - 1 asdf aowi ejfaowi ejfaoiwj eofaijweoi fjawoei fj</div>
              <div class="memo-triangle"></div>
            </div>
          </div>
          <div class="sentence-memo none" data-seq-id="1-2">
            <div class="memo-wrapper">
              <div class="memo-content">메모 - 1 - 2 asdf aowi ejfaowi ejfaoiwj eofaijweoi fjawoei fj</div>
              <div class="memo-triangle"></div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="origin-paragraph col-lg-5 col-sm-5">
            <span class="content-sentence" data-seq-id="1-1">
              <!-- 메모 있을 경우 has-memo 클래스 추가 -->
              <span class="has-memo"></span>
              <span>문장 - 1 - 1 aoiwej foaiwje ofiajwoei fiojaowiej foiawejo faowef jawef awef awe</span>
            </span>
            <span class="content-sentence" data-seq-id="1-2">
              <!-- 메모 있을 경우 has-memo 클래스 추가 -->
              <span class="has-memo"></span>
              <span>문장 - 1 - 2 awef ioajweofi jaowiejf oiajweofijaowejf oiwaje f</span>
            </span>
          </div>
          <div class="trans-paragraph col-lg-5 col-sm-5">
            <span class="content-sentence" data-seq-id="1-1">
              <span>번역 - 1 - 1</span>
            </span>
            <span class="content-sentence" data-seq-id="1-2">
              <span>번역 - 1 - 2</span>
            </span>
            <p class="content-opinion" data-seq-id="1">
              <span>견해 - 1</span>
            </p>
          </div>
        </div>
      </div>
      <div class="content-paragraph clearfix">
        <div class="left-side"></div>
        <div class="right-side">
          <div class="origin-paragraph col-lg-5 col-sm-5">
            <span class="content-sentence" data-seq-id="3">
              <span>문장 - 3</span>
            </span>
            <span class="content-sentence" data-seq-id="4">
              <span>문장 - 4</span>
            </span>
          </div>
          <div class="trans-paragraph col-lg-5 col-sm-5">
            <span class="content-sentence" data-seq-id="3">
              <span>번역 - 3</span>
            </span>
            <span class="content-sentence" data-seq-id="4">
              <span>번역 - 4</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

