<div class="popup has-padding" id="popup-1">
  <div class="popup-dim"></div>
  <div class="login text-center">
    <div class="login-title">
      LOG IN
    </div>
    <form>
      <input class="" id="" name="" type="text" placeholder="Email" />
      <input class="" id="" name="" type="password" placeholder="Password" />
      <div class="text-right">
        <input class="" id="auto-login" name="" type="checkbox" />
        <label for="auto-login">Keep me logged in</label>
      </div>
      <div class="text-right">
        <a class="forget-password" href="#">Forget password ?</a>
      </div>
      <div class="login-button-wrapper">
        <input class="rm-button-style" type="submit" value="SIGN IN"/>
        <a class="sign-up" href="#">SIGN UP</a>
      </div>
    </form>
  </div>
</div>

