<div class="popup" id="popup-1">
  <div class="popup-dim"></div>
    <div class="dialog">
      <div class="dialog-close text-right">
        <button class="close-popup rm-button-style">
          <i class="icon ion-ios-close-empty fa-4x"></i>
        </button>
      </div>
      <div class="offering-wrapper">
        <div class="dialog-title">
          가격 제시하기
        </div>
        <div class="dialog-content clearfix">
          <form>
            <div class="price-input-wrapper">
              <input class="price-input" id="offer-price-bar" type="range" min="0" max="99.99" step="0.01" value="0" name="rating" />
              <div class="minimum-price"></div>
            </div>
            <div class="price-input-wrapper">
              <label for="offered-price">$ </label>
              <input class="price-input rm-button-style" id="offered-price" type="text" />
            </div>
            <div class="price-input-wrapper col-lg-10 col-sm-10">
              <input class="rm-button-style" type="submit" value="제시하기" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

