<div class="offering-wrapper">
  <div class="detail-title">
    가격 제시하기
    <button class="show-detail-information rm-button-style"><i class="icon ion-ios-plus fa-2x"></i></button>
  </div>
  <div class="detail-content clearfix collapsing collapsed">
    <form>
      <div class="price-input-wrapper col-lg-6 col-sm-10">
        <input class="price-input" id="offer-price-bar" type="range" min="0" max="99.99" step="0.01" value="0" name="rating" />
        <div class="minimum-price"></div>
      </div>
      <div class="price-input-wrapper col-lg-6 col-sm-10">
        <label for="offered-price">$ </label>
        <input class="price-input rm-button-style" id="offered-price" type="text" />
      </div>
      <div class="price-input-wrapper col-lg-10 col-sm-10">
        <input class="rm-button-style" type="submit" value="제시하기" />
      </div>
    </form>
  </div>
</div>

