<div class="popup has-padding" id="popup-1">
  <div class="popup-dim"></div>
  <div class="signup text-center">
    <div class="signup-title">
      SIGN UP
    </div>
    <form>
      <div class="clearfix">
        <div class="half-input-wrapper pull-left">
          <input class="" id="" name="" type="text" placeholder="First name" />
        </div>
        <div class="half-input-wrapper pull-left">
          <input class="" id="" name="" type="text" placeholder="Last name" />
        </div>
      </div>
      <input class="" id="" name="" type="text" placeholder="Email" />
      <input class="signup-password" id="" name="" type="password" placeholder="Password" />
      <input class="signup-confirm-password" id="" name="" type="password" placeholder="Confirm password" />
      <input class="" id="" name="" type="text" placeholder="Language" />
      <div class="text-center">
        <div class="col-lg-4 col-sm-10">
          <a class="go-agreement" href="#">이용 약관</a>
          <div class="none-lg space"></div>
        </div>
        <div class="col-lg-6 col-sm-10">
          <input class="" id="accept-agreement" name="" type="checkbox" />
          <label for="accept-agreement">개인 정보 수집 및 동의</label>
        </div>
      </div>
      <div class="login-button-wrapper">
        <input class="rm-button-style" type="submit" value="SIGN UP"/>
      </div>
    </form>
  </div>
</div>

