<div class="popup" id="popup-1">
  <div class="popup-dim"></div>
  <div class="detail">
    <div class="detail-close text-right">
      <button class="close-popup rm-button-style">
        <i class="icon ion-ios-close-empty fa-4x"></i>
      </button>
    </div>
    <div class="detail-header">
      <span class="pull-left">Information</span>
      <span class="pull-right">2015.02.01 15:03</span>
    </div>
    <hr />
    <div class="detail-title">Context</div>
    <div class="detail-content">
      체코소설가 카프카의 명작중 하나인 ‘변신’입니다. 할머니께서 읽어보고 싶다고 하시는데, 영어 원문으로 된것밖에 가지고있지 않아 번역을 요청합니다. 연세가 있으신 분께서 읽을 내용이기때문에 어려운 단어 없이 쉬
    </div>
    <div class="detail-informations clearfix">
      <div class="detail-information">
        <div class="detail-information-title text-center clearfix">언어</div>
        <hr />
        <div class="detail-information-icons clearfix">
          <div class="detail-information-icon">
            <img class="img-circle" src="/static/img/flags/round/cn.png" />
            <p>한국어</p>
          </div>
          <div class="detail-information-arrow">
            <img class="img-circle" src="/static/img/flags/round/arrow.png" />
          </div>
          <div class="detail-information-icon">
            <img class="img-circle" src="/static/img/flags/round/cn.png" />
            <p>중국어</p>
          </div>
        </div>
      </div>
      <div class="detail-information">
        <div class="detail-information-title text-center clearfix">포맷</div>
        <hr />
        <div class="detail-information-icons">
          <div class="detail-information-icon">
            <img src="/static/img/flags/round/cn.png" style="height: 30px; border-radius: 50%;" />
            <p style="font-size: 8px; padding: 0px;">출판물</p>
          </div>
          <div style="float: left; width: 10px; padding-top: 20px;">
          </div>
          <div class="detail-information-icon">
            <img src="/static/img/flags/round/cn.png" style="height: 30px; border-radius: 50%;" />
            <p style="font-size: 8px; padding: 0px;">과학</p>
          </div>
        </div>
      </div>
      <div class="detail-information">
        <div class="detail-information-title text-center clearfix">단어수</div>
        <hr />
        <div class="detail-information-words text-center clearfix">420</div>
      </div>
    </div>
    <div class="detail-title">Original Text</div>
    <div class="detail-content">Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text Dummy Text </div>
  </div>
</div>

