<div class="background"></div>
<div class="container">
    <div id="header-left">
        <a href="/stoa"><img src="/static/img/ciceron_gray.png" style="height: 30px;"></a>
        <span class="translator_only" style="font-size: 20px; font-weight: bold; display: inline-block;">　번역가 모드</span>
        <span class="requester_only" style="font-size: 20px; font-weight: bold; display: inline-block;">　오픈 베타</span>
    </div>
    <div id="header-right">
        <span class="invisible1024">
            <a href="/stoa" i18n="STOA"></a>
            <a class="requester_only" href="/request" i18n="REQUEST"></a>
            <!--<a href="/status" class="shake-slow shake-constant shake-constant--hover">STATUS <i class="fa fa-circle" style="color: #FE8B97; font-size: 5px;"></i></a>-->
            <a class="requester_only" id="btnStatus" href="/status"><span i18n="STATUS"></span></a>
            <a class="translator_only" href="/status">작업중인 번역</a>
            <a href="/completed" i18n="COMPLETED"></a>
        </span>
        <img class="img-circle" id="img-header" src="" />
        
    </div>
    <div id="header-profile" class="invisible">
        <div id="header-profile_background"></div>
        <div id="header-profile-container" style="padding: 30px; width: calc(100% - 60px); height: calc(100% - 60px); overflow-y: auto;" >
            <img class="img-circle" id="img-profile" class="" src="" />
            <span id="header-profile-name">
                
            </span>
            <hr />
            <span class="visible1024">
                <a class="header-profile-button" i18n="stoa" href="/stoa"></a>
                <a class="header-profile-button requester_only" i18n="request" href="/request"></a>
                <a class="header-profile-button translator_only" href="/status">작업중인 번역</a>
                <a class="header-profile-button requester_only" i18n="status" href="/status"></a>
                <a class="header-profile-button" i18n="completed" href="/completed"></a>
                <br />
            </span>
            <a href="/notification" class="header-profile-button" i18n="notification"></a>
            <a href="/mypage" class="header-profile-button" i18n="mypage"></a>
            <br />
            <a href="#" class="header-profile-button" id="btn_logout" i18n="logout"></a>
        </div>
    </div>
</div>
    
