<!DOCTYPE HTML>
<html lang="en">
<head>
  <%- include common/meta %>
  <%- include common/common_asset %>
  <script src="/js/jaewon/condition.js"></script>
</head>
<body>
  <%- include common/noscript %>
  <div id="header">
    <%- include common/header %>
  </div>
  <div class="clearfix container">
    <span class="title">번역하기</span>
    <div class="left-side col-lg-2 col-sm-2">
      <div class="clearfix" id="memo-form">
        <div class="memo-title">
          메모
        </div>
      </div>
    </div>
    <div class="right-side col-lg-8 col-sm-8">
      <div class="clearfix" id="translate-form">
        <div class="clearfix">
          <div class="show-requirement pull-right">요구사항</div>
          <div class="show-full-text pull-right">원문보기</div>
        </div>
        <div class="requirement-wrapper">
          <div class="requirement">
            빨리해주세요
            <div class="triangle"></div>
          </div>
        </div>
        <div class="text-wrapper"></div>
        <div class="additional-wrapper">
          <div class="additional-title text-center">전달사항</div>
          <textarea id="additional-transfer"></textarea>
          <div class="additional-title text-center">어조선택</div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="resentful" type="radio" name="nuance" /><label class="" for="resentful">Resentful</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="urgent" type="radio" name="nuance" /><label class="" for="urgent">Urgent</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="neutral" type="radio" name="nuance" /><label class="" for="neutral">Neutral</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="respectable" type="radio" name="nuance" /><label class="" for="respectable">Respectable</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="appealing" type="radio" name="nuance" /><label class="" for="appealing">Appealing</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="critical" type="radio" name="nuance" /><label class="" for="critical">Critical</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="apologitic" type="radio" name="nuance" /><label class="" for="apologitic">Apologitic</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="frank" type="radio" name="nuance" /><label class="" for="frank">Frank</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="emotional" type="radio" name="nuance" /><label class="" for="emotional">Emotional</label></div>
          <div class="additional-option text-center col-lg-2 col-sm-5"><input class="" id="grateful" type="radio" name="nuance" /><label class="" for="grateful">Grateful</label></div>
          <div class="submit-wrapper col-lg-10 col-sm-10 text-right">
            <div class="">
              <button class="submit-button col-lg-2 col-sm-2 rm-button-style text-center" id="submit-button" type="">제출</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div id="tickets">
      <%- include ticket %>
    </div>
    -->
  </div>
  <div id="footer">
    <%- include common/footer %>
  </div>
</body>
</html>
