<!DOCTYPE HTML>
<html lang="en">
<head>
  <%- include common/meta %>
  <%- include common/common_asset %>
  <script src="/js/jaewon/list.js"></script>
</head>
<body>
  <%- include common/noscript %>
  <div id="header">
    <%- include common/header %>
  </div>
  <div class="clearfix" id="container">
    <span class="title" i18n="STOA"></span>
    <div id="translate-folder">
      <div class="folder-wrapper">
        <button class="folder rm-button-style">기본 폴더</button>
      </div>
    </div>
    <div id="translate-list">
      <div class="background-tile clearfix"></div>
    </div>
  </div>
  <div id="footer">
    <%- include common/footer %>
  </div>
  <%- include popup %>
</body>
</html>
