<!DOCTYPE HTML>
<html lang="en">
<head>
  <%- include common/meta %>
  <%- include common/common_asset %>
  <script src="/js/jaewon/mypage.js"></script>
</head>
<body>
  <%- include common/noscript %>
  <div id="header">
    <%- include common/header %>
  </div>
  <div id="container">
    <span class="title" i18n="STOA"></span>
    <div class="clearfix"><hr /></div>
    <div id="tickets">
      <%- include ticket %>
    </div>
  </div>
  <div id="footer">
    <%- include common/footer %>
  </div>
</body>
</html>
