<div class="ticket">
  <div class="ticket-header">
    <div class="col-lg-4 col-sm-10">
      <span class="user-name">honeymaro</span>
    </div>
    <div class="col-lg-4 none-sm">
      <span class="user-request">context</span>
    </div>
    <div class="col-lg-2 col-sm-10 text-right top-right">
      <div class="free-translate">무료단문번역</div>
    </div>
  </div>
  <hr class="none-sm">
  <div class="ticket-content clearfix">
    <div class="col-lg-4 col-sm-10">
      <div class="ticket-profile pull-left">
        <img class="user-image img-circle" src="/api/access_file/profile_pic/6/20160505055611314687.png">
        <div class="left-time">
          <p>남은 시간</p>
          <p>21분</p>
        </div>
      </div>
      <div class="ticket-information pull-left">
        <div class="ticket-language-information clearfix">
          <div class="ticket-language pull-left">
            <img class="img-circle" src="/img/flags/round/1.png" alt="country flag">
            <p class="locale">한국어</p>
          </div>
          <div class="ticket-language-direction pull-left">
            <img class="arrow img-circle" src="/img/flags/round/arrow.png" alt="arrow">
          </div>
          <div class="ticket-language pull-left">
            <img class="img-circle" src="/img/flags/round/2.png" alt="country flag">
            <p class="locale">English</p>
          </div>
        </div>
        <p class="ticket-word-count">3 단어</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-10">
      <div class="ticket-content-text-wrapper">
        <span class="ticket-content-text">니 똥 칼라똥</span>
      </div>
    </div>
    <div class="applier-wrapper col-lg-2 col-sm-10 clearfix">
      <span class="applier pull-left text-right col-lg-5 col-sm-2">
        <img class="applier-image img-circle" src="/img/flags/round/1.png"/><br/>
        <span class="applied-cost">+$10</span>
        <div class="applier-information">
          <span class="applier-name">
            이름 : ASDASD
          </span>
          <br />
          <span class="applier-score">
            채택률 : 10%
          </span>
        </div>
      </span>
    </div>
    <div class="col-lg-2 col-sm-10 text-right bottom-right">2016. 5. 5. 오후 7:06:08</div>
  </div>
</div>
