<%
var POPUP = null;
// 1 : 로그인 팝업
// 2 : 가입 팝업
// 3 : 가격 제시 팝업
// 4 : 가격 제시 다이얼로그
// 5 : 진행중 팝업
// 6 : 작업 내역 팝업

POPUP = 0;

switch (POPUP) {
  case 1:
%>
<%- include popup/login_popup %>
<%
    break;
  case 2:
%>
<%- include popup/signup_popup %>
<%
    break;
  case 3:
%>
<%- include popup/offer_popup %>
<%
    break;
  case 4:
%>
<%- include popup/offer_dialog_popup %>
<%
    break;
  case 5:
%>
<%- include popup/progress_popup %>
<%
    break;
  case 6:
%>
<%- include popup/list_popup %>
<%
    break;
}
%>

