<!DOCTYPE HTML>
<html lang="en">
<head>
  <%- include common/meta %>
  <%- include common/common_asset %>
  <script src="/js/jaewon/stoa.js"></script>
</head>
<body>
  <%- include common/noscript %>
  <div id="header">
    <%- include common/header %>
  </div>
  <% if (true || false) { %>
  <%- include popup %>
  <% } %>
  <div id="container">
    <span class="title" i18n="STOA"></span>
    <% if (false) { %>
      <%- include submit_needing_trans %>
    <% } %>
    <div class="clearfix"><hr /></div>
    <div id="tickets">
    </div>
  </div>
  <div id="footer">
    <%- include common/footer %>
  </div>
</body>
</html>
