<div class="clearfix">
  <span class="pull-left" i18n="Do_you_need_a_translation"></span>
  <span class="character-count pull-right" class="characterCount">0 / 140</span>
</div>
<form id="request-form" method="POST">
  <input type="hidden" name="request_clientId" id="request-client-id" />
  <input type="hidden" name="request_isSos" value="true" />
  <input type="hidden" name="request_isText" value="true" />
  <textarea id="content" class="content" name="request_text" i18n_attr="placeholder" i18n="140letter_free" placeholder=""></textarea>
  <div class="pull-left clearfix" id="set-language">
    <select id="select-language-from" name="request_originalLang">
      <option value="1" selected="selected" data-imagesrc="/img/flags/round/kr.png" data-description="">한국어</option>
      <option value="2" data-imagesrc="/img/flags/round/us.png" data-description="">English</option>
      <option value="3" data-imagesrc="/img/flags/round/eu.png" data-description="">English</option>
      <option value="4" data-imagesrc="/img/flags/round/cn.png" data-description="">中國語</option>
    </select>
    <i class="fa fa-long-arrow-right pull-left"></i>
    <select id="select-language-to" name="request_targetLang">
      <option value="1" data-imagesrc="/img/flags/round/kr.png" data-description="">한국어</option>
      <option value="2" selected="selected" data-imagesrc="/img/flags/round/us.png" data-description="">English</option>
      <option value="3" data-imagesrc="/img/flags/round/eu.png" data-description="">English</option>
      <option value="4" data-imagesrc="/img/flags/round/cn.png" data-description="">中國語</option>
    </select>
  </div>
  <button type="submit" class="submit pull-right">의뢰하기</button>
</form>
