<%
if (true || false) {
  var i = 0;
  for (; i < 3; i++) {
%>
<div class="ticket">
  <div class="ticket-header">
    <div class="col-lg-3 col-sm-10">
      <span class="user-name">honeymaro</span>
    </div>
    <div class="col-lg-4 none-sm">
      <span class="user-request">context</span>
    </div>
    <div class="col-lg-3 col-sm-10 text-right top-right">
      <div class="cart-button">장바구니</div>
      <div class="translate-button">바로번역</div>
    </div>
  </div>
  <hr class="none-sm">
  <div class="ticket-content clearfix">
    <div class="col-lg-3 col-sm-10">
      <div class="ticket-profile pull-left">
        <img class="user-image img-circle" src="/api/access_file/profile_pic/6/20160505055611314687.png">
        <div class="left-time">
          <p>남은 시간</p>
          <p>21분</p>
        </div>
      </div>
      <div class="ticket-information pull-left">
        <div class="ticket-language-information clearfix">
          <div class="ticket-language pull-left">
            <img class="img-circle" src="/img/flags/round/1.png" alt="country flag">
            <p class="locale">한국어</p>
          </div>
          <div class="ticket-language-direction pull-left">
            <img class="arrow img-circle" src="/img/flags/round/arrow.png" alt="arrow">
          </div>
          <div class="ticket-language pull-left">
            <img class="img-circle" src="/img/flags/round/2.png" alt="country flag">
            <p class="locale">English</p>
          </div>
        </div>
        <p class="ticket-word-count">3 단어</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-10">
      <div class="ticket-content-text-wrapper">
        <span class="ticket-content-text">니 똥 칼라똥</span>
      </div>
    </div>
    <% /***** 가격 제시한 사람들 *****/ %>
    <% if ((i % 2) === 0) { %>
    <div class="applier-wrapper col-lg-3 col-sm-10 clearfix">
      <div class="cart-wrapper col-lg-5 col-sm-5 clearfix">
      </div>
      <div class="col-lg-5 col-sm-5 clearfix">
        <% for (var j = 0; j < (i * 3) + 1; j++) { %>
        <span class="applier pull-left text-right col-lg-5 col-sm-2">
          <img class="applier-image img-circle" src="/img/flags/round/1.png"/><br/>
          <span class="applied-cost none">+$10</span>
          <div class="applier-information">
            <span class="applier-name">
              이름 : <%= (j).toString().replace(/1/, 'Alice').replace(/2/, 'Bob').replace(/3/, 'Chris').replace(/4/, 'Dong-su') %>
            </span>
            <br />
            <span class="applier-score">
              채택률 : <%= j * 10 %> %
            </span>
          </div>
        </span>
        <% } %>
      </div>
    </div>
    <% /***** 가격 제시하기 *****/ %>
    <% } else { %>
    <div class="apply-button-wrapper col-lg-3 col-sm-10 clearfix">
      <div class="pull-left text-right col-lg-10 col-sm-10">
        <button class="apply-translating rm-button-style" data-id="1">제시하기</button>
      </div>
    </div>
    <% } %>
    <div class="col-lg-3 col-sm-10 text-right bottom-right">2016. 5. 5. 오후 7:06:08</div>
  </div>
</div>
<%
  }
}
%>
